// Breakpoints
@mixin media-breakpoint-up($name) {
	$width: map-get($breakpoints, $name);
	@if $width
    {
		@media (min-width: $width) {
			@content;
		}
	}
	@else
    {
		@media (min-width: $name) {
            @content;
        }
	}
  	
}
@mixin media-breakpoint-down($name) {
  	$width: map-get($breakpoints, $name);
	@if $width
    {
		@media (max-width: $width){
			@content;
		}
	}
	@else
    {
        @media (max-width: $name){
            @content;
        }
	}
}

// Retina
@mixin media-retina($ratio : 1.25) {
    @media only screen and (-o-min-device-pixel-ratio: $ratio),
       only screen and (-webkit-min-device-pixel-ratio: $ratio),
       only screen and (min--moz-device-pixel-ratio: $ratio),
       only screen and (min-device-pixel-ratio: $ratio),
       only screen and (min-resolution: #{$ratio}dppx) {
        @content;
    }
}

//================ PRIVATE ================//
// Utility
@function _minusPercent($value, $percentage) {
	$diff: $value * ($percentage / 100);
	@return $value - $diff;
}
@function _addPercent($value, $percentage) {
	$diff: $value * ($percentage / 100);
	@return $value + $diff;
}

// Font smoothing
@mixin _fontSmooth() {
	@if $font-smoothing {
        text-rendering: optimizeLegibility;
   		-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
   	}
}

// Text ellipsis
@mixin _ellipsis {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Clearfix
@mixin _clearfix {
	&:after {
    	content: "";
    	display: table;
    	clear: both;
  	}
}

// Unstyled button
@mixin button-unstyled() {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover,
    &.hover,
    &:active,
    &.active {
        background-color: transparent;
        border: none;
        outline: none;
    }
}