/* Container base */
.container,
.container-fluid
{
    @include _clearfix;
    --hb-container-width: 100%;
    --hb-container-max-width: 100%;
    --hb-container-pad-l: 0;
    --hb-container-pad-r: 0;
    max-width: var(--hb-container-max-width);
    width: var(--hb-container-width);
    padding-left: var(--hb-container-pad-l);
    padding-right: var(--hb-container-pad-r);
    margin-left: auto;
    margin-right: auto;

}
/* Row base */
.row
{
    @include _clearfix;
    --hb-row-width: 100%;
    width: var(--hb-row-width);
}
.flex-row
{
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Column base */
.col,
.flex-col
{
    --hb-col-width: 0;
    --hb-col-push: initial;
    --hb-col-pull: initial;
}
.col
{
    float: left;
    @include _clearfix;
    width: var(--hb-col-width);
    left: var(--hb-col-pull);
    right: var(--hb-col-push); 
}
.flex-col
{
    box-sizing: border-box;
    flex: 0 0 auto;
    flex-basis: var(--hb-col-width);
    max-width: var(--hb-col-width);
}

/* Gutters base */
[class*="gutter-"],
.no-gutter
{
    --hb-gutter-l: initial;
    --hb-gutter-r: initial;
    padding-left: var(--hb-gutter-l);
    padding-right: var(--hb-gutter-r);
}

/* Poles base */
[class*="pole-"],
.no-pole
{
    --hb-pole-n: initial;
    --hb-pole-s: initial;
    padding-top: var(--hb-pole-n);
    padding-bottom: var(--hb-pole-s);
}

/* Push/pull base */
[class*="-pull-"],
[class*="-push-"]
{
    position: relative;
}
