%no-margin     { margin: 0;   }
%no-padding    { padding: 0;  }
%no-float      { float: none; }
%no-background { background: transparent; }
%no-border     { border: 0; }
%hide-overflow {overflow: hidden}
%show-overflow {overflow: visible}
%no-select     {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}