blockquote
{
    margin: 0 0 1em;
    border-radius: 4px;
    padding: 2rem;
    color: $body-color;
    background-color: _darker($body-bg, 5);

    p
    {
    	padding: 0;
    }
    &.bq-danger,
    &.bq-success,
    &.bq-info,
    &.bq-warning,
    &.bq-primary,
    &.bq-secondary
    {
        
    	p
        {
    		color: rgba(0, 0, 0, 0.57);
    	}
    	a
        {
    		font-weight: $text-bold;
    		color: rgba(0, 0, 0, 0.6);
    	}
        code,
        pre
        {
            border: none;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.22);            
        }
    }
    &.bq-danger
    {
    	background-color: _lighter($brand-danger, 10);
    }
    &.bq-success
    {
    	background-color: _lighter($brand-success, 10);
    }
    &.bq-info
    {
    	background-color: _lighter($brand-info, 10);
    }
    &.bq-warning
    {
    	background-color: _lighter($brand-warning, 10);
    }
    &.bq-primary
    {
        background-color: _lighter($brand-primary, 10);
    }
    &.bq-secondary
    {
        background-color: _lighter($brand-secondary, 10);
    }
    >:last-child
    {
        margin-bottom: 0;
    }

    > footer:before{
        content: '\2014 \00A0';
    }

    > footer
    {
        display: block;
        font-size: 85%;
        line-height: 1.42857143;
        color: var(--hb-gray-500);
    }

    &.bq-danger,
    &.bq-success,
    &.bq-info,
    &.bq-warning,
    &.bq-primary,
    &.bq-secondary
    {
       > footer
        {
            color: rgba(0, 0, 0, 0.8);
        }
    }
}
.darkmode blockquote:not(.bq-danger):not(.bq-success):not(.bq-info):not(.bq-warning):not(.bq-primary):not(.bq-secondary)
{
    background-color: _lighter($body-bg-darkmode, 10%);
    color: _darker($body-color-darkmode, 10%);

    > footer
        {
            color: _darker($body-color-darkmode, 30%);
        }
}