.btn-group
{
	--fbx-btn-group-radius: #{$btn-group-radius};

	> .btn
	{
		display: inline-block;
		margin-left: -5px;
		border-radius: 0;
		&:first-child
		{
			margin-left: 0;
			border-top-left-radius: var(--fbx-btn-group-radius);
			border-bottom-left-radius: var(--fbx-btn-group-radius);
		}
		&:last-child
		{
			border-top-right-radius: var(--fbx-btn-group-radius);
			border-bottom-right-radius: var(--fbx-btn-group-radius);
		}
	}
	> .drop-container
	{
		.btn
		{
			display: inline-block;
			margin-left: -5px;
			border-radius: 0;
		}
		&:first-child .btn
		{
			margin-left: 0;
			border-top-left-radius: var(--fbx-btn-group-radius);
			border-bottom-left-radius: var(--fbx-btn-group-radius);
		}
		&:last-child .btn
		{
			border-top-right-radius: var(--fbx-btn-group-radius);
			border-bottom-right-radius: var(--fbx-btn-group-radius);
		}
	}
	&.btn-pill
	{
		> .btn:first-child
		{
			border-radius: 500px 0 0 500px;
		}
		> .btn:last-child
		{
			border-radius: 0 500px 500px 0;
		}
		.fa, .fa-brands
		{
			margin-right: 0;
		}
	}
}