.btn .loading-spinner {
	$spinner-size: $btn-font-size + $btn-pad-y + $btn-pad-y;
	$spinner-top:  $spinner-size / 2;
    display: none;
    position: absolute;
    top: 50%;
    height: $spinner-size;
    width: $spinner-size;
    left: $btn-pad-x / 2;
    margin-top:  -$spinner-top;
}
.btn.with-spinner.active {
    padding-left: $btn-pad-x * 3;
}
.btn.active .loading-spinner {
    display: inline-block;
}
