.btn .loading-spinner
{
    --hb-spinner-color: var(--hb-btn-loader-color);
    --hb-spinner-size: 100%;
    display: none;
    position: absolute;
    left: -3rem;
    top: 0;
    padding: 0.4rem;
}
.btn.with-spinner.active
{
    padding-left: $btn-pad-x * 3;
}
.btn.active .loading-spinner
{
    display: inline-block;
}
