// Standard buttons
@mixin button($color, $background) {
    
    $active-background: darken($background, 5%);
    
    color: $color;
    background-color: $background;
    border-color: darken($background, 1.5%);

    &:hover,
    &.hover,
    &:active,
    &.active {
        color: $color;
        background-color: $active-background;
        border-color: $active-background;
    }

    .loading-spinner .path {
        stroke: $color;
    }
}

// Outline buttons
@mixin button-outline($color) {
    color: $color;
    background-color: transparent;
    border-color: $color;

    &:hover,
    &.hover,
    &:active,
    &.active {
        color: $white;
        background-color: $color;
        border-color: $color;
    }
    .loading-spinner .path {
        stroke: $white;
    }
}

// Pure buttons
@mixin button-pure($color) {
    color: $color;
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &.hover,
    &:active,
    &.active {
        color: darken($color, 3%);
    }
}

// Color variants
.btn-primary {
    @include button($white, $brand-primary);
}
.btn-success {
    @include button($white, $brand-success);
}
.btn-info {
    @include button($white, $brand-info);
}
.btn-warning {
    @include button($white, $brand-warning);
}
.btn-danger {
    @include button($white, $brand-danger);
}
.btn-white {
    @include button($black, $white);
}
.btn-black {
    @include button($white, $black);
}

// Outline variants
.btn.btn-outline {
    @include button-outline($btn-default-bg);
}
.btn-primary.btn-outline {
    @include button-outline($brand-primary);
}
.btn-success.btn-outline {
    @include button-outline($brand-success);
}
.btn-info.btn-outline {
    @include button-outline($brand-info);
}
.btn-warning.btn-outline {
    @include button-outline($brand-warning);
}
.btn-danger.btn-outline {
    @include button-outline($brand-danger);
}
.btn-white.btn-outline {
    @include button-outline($white);
}
.btn-black.btn-outline {
    @include button-outline($black);
}

// Pure variants
.btn.btn-pure {
    @include button-pure($btn-default-bg);
}
.btn-primary.btn-pure {
    @include button-pure($brand-primary);
}
.btn-success.btn-pure {
    @include button-pure($brand-success);
}
.btn-info.btn-pure {
    @include button-pure($brand-info);
}
.btn-warning.btn-pure {
    @include button-pure($brand-warning);
}
.btn-danger.btn-pure {
    @include button-pure($brand-danger);
}
.btn-black.btn-pure {
   @include button-pure($black);
}
.btn-white.btn-pure {
    @include button-pure($white);
    &:hover,
    &.hover {
        opacity: 0.8;
    }
}