// resets
input[type=checkbox]
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type=checkbox]
{
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    outline: none;
}
input[type="checkbox"]:focus
{
    outline:0;
}

// styles
.checkbox
{
    position: relative;
    &:before
    {
        content: '';
        display: inline-block;
        width: $checkbox-size * 1.8;
        height: $checkbox-size * 1.8;
        background-color: $gray-darker;
        position: absolute;
        border-radius: 50%;
        left: 1px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity .15s $base-easing;
    }
    &:hover
    {
        &:before
        {
            opacity: 0.2;
        }
    }
    &:active
    {
        &:before
        {
            opacity: 0.3;
        }
    }

    label
    {
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        position: relative;
        padding-left: $checkbox-size * 2;
        min-height: $checkbox-size + 2;
        margin-bottom: 0;
        line-height: $checkbox-size;
        &:before
        {
            content: "";
            display: inline-block;
            position: absolute;
            left: $checkbox-size * 1.43;
            border-radius: 2px;
            background-color: transparent;
            width: $checkbox-size;
            height: $checkbox-size;
            margin-left: -($checkbox-size - 1);
            border: 2px solid $gray;
            transition: border-width .15s $base-easing;
        }
        &:after
        {
            display: inline-block;
            position: absolute;
            width: $checkbox-size;
            height: $checkbox-size;
            line-height: $checkbox-size;
            left: 0;
            top: 0;
            margin-left: -$checkbox-size;
            text-align: center;
            padding-top: 1px;
            font-size: 1.4rem;
            color: $gray-darker;
        }
    }

    input[type=checkbox]
    {
        position: absolute;
        display: none;
        opacity: 0;
        margin-left: -$checkbox-size;
        margin-top: 0;
        margin-bottom: 0;
        z-index: 1;
        width: $checkbox-size;
        height: $checkbox-size;
        &:checked
        {
            + label:before
            {
                border-color: $gray-darker;
                border-width: $checkbox-size / 2;
            }
            + label:after
            {
                @include glyph-icon;
                content: "\ed71";
                display: inline-block;
                position: absolute;
                font-size: 14px;
                left: 30px;
                top: 2px;
                color: #fff;
            }
        }
        &:focus
        {
            + label:before
            {
                border-color: $gray-darker;
                border-width: $checkbox-size / 2;
                outline: thin dotted;
                outline: $checkbox-size / 4;
                outline-offset: -2px;
            }
        }
        &.disabled,
        &:disabled
        {
            cursor: not-allowed;
            + label
            {
                opacity: .4;
                cursor: not-allowed;
                &:before
                {
                    cursor: not-allowed;
                }
            }
        }
    }
}

// Variants
@mixin _checkbox($color)
{
    &:before
    {
        background-color: $color;
    }
    input[type=checkbox]
    {
        &:checked + label:before
        {
            background-color: $color;
            border-color: $color;
        }
        &:checked + label:after
        {
            color: #fff;
        }
    }
}
.checkbox
{
    // Contextual
    &.checkbox-primary
    {
        @include _checkbox($brand-primary);
    }
    &.checkbox-secondary
    {
        @include _checkbox($brand-primary);
    }
    &.checkbox-info
    {
        @include _checkbox($brand-info);
    }
    &.checkbox-success
    {
        @include _checkbox($brand-success);
    }
    &.checkbox-warning
    {
        @include _checkbox($brand-warning);
    }
    &.checkbox-danger
    {
        @include _checkbox($brand-danger);
    }
}
