// resets
input[type=checkbox] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    outline: none;
}
input[type="checkbox"]:focus {
    outline:0;
}

// styles
.checkbox {
    padding-left: $checkbox-size;
    
    label {
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        position: relative;
        padding-left: 10px;
        min-height: $checkbox-size + 2;
        margin-bottom: 0;
        line-height: $checkbox-size;
        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            border-radius: 2px;
            background-color: $white;
            width: $checkbox-size;
            height: $checkbox-size;
            margin-left: -$checkbox-size;
            border: 1px solid #e4eaec;
            transition: all .15s ease-in-out 0s;
        }
        &:after {
            display: inline-block;
            position: absolute;
            width: $checkbox-size;
            height: $checkbox-size;
            line-height: $checkbox-size;
            left: 0;
            top: 0;
            margin-left: -$checkbox-size;
            text-align: center;
            padding-top: 1px;
            font-size: 1.4rem;
            color: #76838f;
        }
    }

    input[type=checkbox] {
        position: absolute;
        display: none;
        opacity: 0;
        margin-left: -$checkbox-size;
        margin-top: 0;
        margin-bottom: 0;
        z-index: 1;
        width: $checkbox-size;
        height: $checkbox-size;
        &:checked {
            + label:before {
                border-color: #e4eaec;
                border-width: $checkbox-size / 2;
                transition: all .15s ease-in-out 0s;
            }
            + label:after {
                font-family: 'IcoMoon';
                content: "\ed6f";
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &:focus {
            + label:before {
                border-color: #e4eaec;
                border-width: $checkbox-size / 2;
                transition: all .15s ease-in-out 0s;
                outline: thin dotted;
                outline: $checkbox-size / 4 auto -webkit-focus-ring-color;
                outline-offset: -2px;
            }
        }
        &.disabled,
        &[disabled] {
            cursor: not-allowed;
            + label {
                opacity: .65;
                cursor: not-allowed;
                &:before {
                    background-color: #f3f7f9;
                    border-color: #e4eaec;
                    border-width: 1px;
                    cursor: not-allowed;
                }
            }
        }
    }

    // Contextual
    &.checkbox-primary {
        input[type=checkbox] {
            &:checked + label:before {
                background-color: $brand-primary;
                border-color: $brand-primary;
            }
            &:checked + label:after {
                color: #fff;
            }
        }
    }
    &.checkbox-info {
        input[type=checkbox] {
            &:checked + label:before {
                background-color: $brand-info;
                border-color: $brand-info;
            }
            &:checked + label:after {
                color: #fff;
            }
        }
    }
    &.checkbox-success {
        input[type=checkbox] {
            &:checked + label:before {
                background-color: $brand-success;
                border-color: $brand-success;
            }
            &:checked + label:after {
                color: #fff;
            }
        }
    }
    &.checkbox-warning {
        input[type=checkbox] {
            &:checked + label:before {
                background-color: $brand-warning;
                border-color: $brand-warning;
            }
            &:checked + label:after {
                color: #fff;
            }
        }
    }
    &.checkbox-danger {
        input[type=checkbox] {
            &:checked + label:before {
                background-color: $brand-danger;
                border-color: $brand-danger;
            }
            &:checked + label:after {
                color: #fff;
            }
        }
    }
    &.checkbox-default {
        input[type=checkbox] {
            &:checked + label:before {
                background-color: #fff;
                border-color: $gray-light;
                border-width: 1px;
            }
            &:checked + label:after {
               color: $brand-primary;
            }
        }
    }
}
