@use "sass:math";
// styles
.checkbox
{
    display: inline-block;
    position: relative;

    --hb-checkbox-size: #{$checkbox-size};
    --hb-checkbox-color: #{$checkbox-color};
    --hb-checkbox-label-color: #{$checkbox-label-color};
    --hb-checkbox-radius: #{$checkbox-radius};

    height: var(--hb-checkbox-size);
    min-width: var(--hb-checkbox-size);
    line-height: var(--hb-checkbox-size);

    // Click circle
    &:before
    {
        content: '';
        display: block;
        position: absolute;
        border-radius: 50%;
        width: calc(var(--hb-checkbox-size) * 2);
        height: calc(var(--hb-checkbox-size) * 2);
        background-color:var(--hb-checkbox-color);
        top: 50%;
        left: calc( (var(--hb-checkbox-size) / 2) * -1);
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity .15s $base-easing;
    }

    // Click label setup
    label
    {
        display: inline-block;
        cursor: pointer;
        position: relative;
        margin: 0;
        padding: 0 0 0 calc(var(--hb-checkbox-size) * 1.2);
        white-space: nowrap;
        min-width: var(--hb-checkbox-size);
        height: var(--hb-checkbox-size);
        .toggle-on
        {
            display: none;
        }
        .toggle-off
        {
            display: inline-block;
        }
    }

    // Fake square
    label:before
    {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: transparent;
        border-radius: var(--hb-checkbox-radius);
        width: var(--hb-checkbox-size);
        height: var(--hb-checkbox-size);
        border: 2px solid var(--hb-checkbox-color);
        transition: border-width .15s ease-in-out;
    }

    // Checkmark
    label:after
    {
        content: "\ed71";
        @include glyph-icon;
        display: inline-block;
        position: absolute;
        font-size: calc(var(--hb-checkbox-size) * 0.8);
        left: 2px;
        top: 50%;
        opacity: 0;
        transform: translateY(-50%) scale(0);
        color: var(--hb-white);
        text-align: center;
        transition: transform .15s ease-in-out, opacity .15s ease-in-out;
    }

    // Hidecheckbox
    input[type="checkbox"]
    {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        width: var(--hb-checkbox-size);
        height: var(--hb-checkbox-size);
        margin: 0;
        padding: 0;
    }

    // Hover
    &:hover:before
    {
        opacity: 0.2;
    }

    // Checked
    input[type="checkbox"]:checked
    {
        // Fill square
        + label:before
        {
            border-color: var(--hb-checkbox-color);
            border-width: calc(var(--hb-checkbox-size) / 2);
        }

        // Show tick
        + label:after
        {
            transform: translateY(-50%) scale(1);
            transition: transform .15s ease-in-out, opacity .15s ease-in-out;
            opacity: 1;
        }

        // Toggle text
        +label
        {
            .toggle-on
            {
                display: inline-block;
            }
            .toggle-off
            {
                display: none;
            }
        }       
    }

    // Disabled
    &.disabled label,
    input[type="checkbox"]:disabled + label
    {
        opacity: 0.6;
        cursor: not-allowed;
    }

    // Sizing
    &.checkbox-sm
    {
        --hb-checkbox-size: #{$checkbox-size * 0.75};
    }
    &.checkbox-md
    {
        --hb-checkbox-size: #{$checkbox-size * 0.95};
    }
    &.checkbox-lg
    {
        --hb-checkbox-size: #{$checkbox-size * 1.2};
    }
}

// Variants
@mixin _checkbox($color)
{
    --hb-checkbox-color: #{$color};
}

@each $context, $colors in $contexts
{    
    .checkbox.checkbox-#{$context}
    {
        @include _checkbox( map-get($colors, "color") );
    }
}