// File upload button
.file-field.form-field,
.file-field {
	.file-text {
		opacity: 1;
    	cursor: default;
    	background-color: $input-bg;
	}
}
.btn-upload {
	position: relative;
	cursor: pointer;
	.glyph-icon {
		line-height: 2.3rem;
	}
}
.btn-upload .upload-cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	cursor: pointer;
}
.btn-upload input {
	opacity: 0;
	display: block;
	width: 100%;
	cursor: pointer;
}
.btn-upload.btn-sm,
.btn-upload.btn-xs .upload-cover {
	line-height: 19px;
}
