@use "sass:math";
// resets 
input[type=radio]
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type=radio]
{
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    outline: none;
}
input[type=radio]:focus
{
    outline:0;
}

// styles
.radio
{
    padding-left: $radio-size;
    
    label
    {
        display: inline-block;
        position: relative;
        cursor: pointer;
        vertical-align: middle;
        padding-left: math.div($radio-size, 4);
        min-height: $radio-size + 2;
        margin-bottom: 0;
        line-height: $radio-size;
        &:before
        {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            border-radius: 50%;
            background-color: transparent;
            width: $radio-size;
            height: $radio-size;
            margin-left: -$radio-size;
            border: 2px solid $gray;
            transition: transform .15s ease-in-out 0s;
        }
        &:after
        {
            content: "";
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            background-color: var(--hb-gray-700);
            left: - ($radio-size * 0.733);
            top: math.div($radio-size, 4);
            width: math.div($radio-size, 2);
            height: math.div($radio-size, 2);
            transition: transform .15s ease-in-out 0s;
            transform: scale(0);
        }
    }

    input[type=radio]
    {
        position: absolute;
        display: none;
        opacity: 0;
        margin-left: -$radio-size;
        margin-top: 0;
        margin-bottom: 0;
        z-index: 1;
        width: $radio-size;
        height: $radio-size;
        &:checked
        {
            + label:before
            {
                border-color: var(--hb-gray-700);
                transition: transform .15s ease-in-out 0s;
            }
            + label:after
            {
                transition: transform .15s ease-in-out 0s;
                transform: scale(1);
            }
        }
        &:focus
        {
            + label:before
            {
                border-color: var(--hb-gray-700);
                transition: transform .15s ease-in-out 0s;
                outline: thin dotted;
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px;
            }
        }
        &.disabled,
        &[disabled]
        {
            cursor: not-allowed;
            + label
            {
                opacity: .65;
                cursor: not-allowed;
                &:before
                {
                    background-color: #f3f7f9;
                    border-color: var(--hb-gray-700);
                    cursor: not-allowed;
                }
            }
        }
    }
}
.radio
{
    // Contextual
    &.radio-primary
    {
        input[type=radio]
        {
            &:checked + label:before
            {
                border-color: $brand-primary;
            }
            &:checked + label:after
            {
                background-color: $brand-primary;
            }
        }
    }
    &.radio-secondary
    {
        input[type=radio]
        {
            &:checked + label:before
            {
                border-color: $brand-secondary;
            }
            &:checked + label:after
            {
                background-color: $brand-secondary;
            }
        }
    }
    &.radio-info
    {
        input[type=radio]
        {
            &:checked + label:before
            {
                border-color: $brand-info;
            }
            &:checked + label:after
            {
                background-color: $brand-info;
            }
        }
    }
    &.radio-success
    {
        input[type=radio]
        {
            &:checked + label:before
            {
                border-color: $brand-success;
            }
            &:checked + label:after
            {
                background-color: $brand-success;
            }
        }
    }
    &.radio-warning
    {
        input[type=radio]
        {
            &:checked + label:before
            {
                border-color: $brand-warning;
            }
            &:checked + label:after
            {
                background-color: $brand-warning;
            }
        }
    }
    &.radio-danger
    {
        input[type=radio]
        {
            &:checked + label:before
            {
                border-color: $brand-danger;
            }
            &:checked + label:after
            {
                background-color: $brand-danger;
            }
        }
    }
}


