input[type=checkbox].switch
{
    display: none;

    + label
    {
        position: relative;
        display: inline-block;
        padding-left: 46px;
        cursor: pointer;
        &:before, 
        &:after
        {
            content: "";
            position: absolute;
            margin: 0;
            top: 50%;
            outline: none;
            transform: translate(0, -50%);
            transition: all 0.3s ease;
        }
        &:before
        {
            background-color: $gray;
            left: 1px;
            width: 34px;
            height: 14px;
            border-radius: 8px;
        }
        &:after
        {
            left: 0;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
        }
        .toggle-on
        {
            display: none;
        }
        .toggle-off
        {
            display: inline-block;
        }
    }
    &:checked + label
    {
        &:before
        {
            background-color: var(--hb-gray-300);
        }
        &:after
        {
            background-color: var(--hb-gray-500);
            transform: translate(80%, -50%);
        }
        .toggle-on
        {
            display: inline-block;
        }
        .toggle-off
        {
            display: none;
        }
    }
}

// Variants
@mixin _switch($color)
{
    &:checked + label
    {
        &:before
        {
            background-color: _lighter($color, 20);
        }
        &:after
        {
            background-color: $color;
        }
    }
}

input[type=checkbox].switch
{
    &.switch-primary
    {
        @include _switch($brand-primary);
    }
    &.switch-secondary
    {
        @include _switch($brand-secondary);
    }
    &.switch-info
    {
        @include _switch($brand-info);
    }
    &.switch-success
    {
        @include _switch($brand-success);
    }
    &.switch-warning
    {
        @include _switch($brand-warning);
    }
    &.switch-danger
    {
        @include _switch($brand-danger);
    }

}