.input-unstyled
{
	border: none;
	outline: none;
	box-shadow: none;
    margin: 0;
	padding: 5px 0;
	display: inline-block;
    font-size: $input-font-size;
    font-weight: $text-normal;
    line-height: $input-line-height;
    color: var(--hb-gray-700);
    background-color: transparent;
    transition: none
}