// Colors
$white:                     #ffffff !default;
$black:                     #000000 !default;
$gray-darker:               #2A2A2A !default;
$gray-dark:                 #585858 !default;
$gray:                      #999a9d !default;
$gray-light:                #bebebe !default;
$gray-lighter:              #e9e9e9 !default;
$gray-lightest:             #f4f4f4 !default;

$brand-primary:             #ff007e !default;
$brand-secondary:           #01aef0 !default;
$brand-success:             #40dc7a !default;
$brand-info:                #33a6ff !default;
$brand-warning:             #ffd800 !default;
$brand-danger:              #ff0042 !default;

// Body
$body-bg:                   #fafafa !default;
$body-color:                #1d1d1d !default;

// Links
$link-color:                $brand-primary !default;
$link-hover-color:          darken($link-color, 10%) !default;

// Global font families
$font-family-sans-serif:    'Roboto', "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:         Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:     Menlo, Monaco, Consolas, "Courier New", monospace !default;
$base-font-family:          $font-family-sans-serif !default;
$font-family-headings:      $font-family-sans-serif !default;

// Default font weights
$text-lightest:             100;
$text-light:                300;
$text-normal:               400;
$text-bold:                 500;
$text-bolder:               800;
$text-boldest:              900;

// Global base font styles
$base-font-size:            1.45rem !default;
$base-line-height:          1.8 !default;
$base-font-weight:          $text-normal !default;
$font-smoothing:            true;

// Headings sizes
$text-size-h1:              ($base-font-size * 3.1) !default;
$text-size-h2:              ($base-font-size * 2.8) !default;
$text-size-h3:              ($base-font-size * 2.5) !default;
$text-size-h4:              ($base-font-size * 2.0) !default;
$text-size-h5:              ($base-font-size * 1.5) !default;
$text-size-h6:              $base-font-size !default;

// Paragraph sizes
$text-size-p1:              ($base-font-size * 2.5) !default;
$text-size-p2:              ($base-font-size * 2.0) !default;
$text-size-p3:              ($base-font-size * 1.75) !default;
$text-size-p4:              ($base-font-size * 1.5) !default;
$text-size-p5:              ($base-font-size * 1.3) !default;
$text-size-p6:              $base-font-size !default;

// Heading styles
$headings-font-weight:      $text-normal !default;
$headings-line-height:      1.1 !default;

// Base aesthetics
$border-radius:             4px !default;

// Raised levels
$raised-level-one:          0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !default;
$raised-level-one-hover:    0px 2px 4px -1px rgb(0 0 0 / 10%), 0px 4px 5px 0px rgb(0 0 0 / 12%), 0px 1px 10px 0px rgb(0 0 0 / 6%) !default;
$raised-level-two:          0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !default;
$raised-level-two-hover:    0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%) !default;
$raised-level-three:        rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px !default;
$raised-level-three-hover:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)!default;
$box-shadow-in:             inset 0 5px 8px -2px rgba(0,0,0,.13) !default;

// Base transitions
$base-easing:               cubic-bezier(.4,0,1,1);
$base-easing-time:          .2s;

// Grid breakpoints
$breakpoint-xs:             0 !default;
$breakpoint-sm:             576px !default;
$breakpoint-md:             768px !default;
$breakpoint-lg:             992px !default;
$breakpoint-xl:             1200px !default;

// Responsive breakpoints
$breakpoints: (
    xs: $breakpoint-xs,
    sm: $breakpoint-sm,
    md: $breakpoint-md,
    lg: $breakpoint-lg,
    xl: $breakpoint-xl,
) !default;

// Grid gutters
$grid-gutters: (
    xxs: 0.5rem,
    xs: 1.5rem,
    sm: 2.0rem,
    md: 2.5rem,
    lg: 3.0rem,
    xl: 3.5rem,
) !default;

// Grid roof and floors
$grid-v-gutters: (
    xxs: 0.5rem,
    xs: 1.5rem,
    sm: 3.0rem,
    md: 6.0rem,
    lg: 8.0rem,
    xl: 10.0rem,
) !default;

// Container gutters
$container-gutters: (
    xxs: 0.5rem,
    xs: 1.5rem,
    sm: 3.0rem,
    md: 3.0rem,
    lg: 3.0rem,
    xl: 3.0rem,
) !default;

// Margin sizes
$margin-sizes: (
    xxs: 0.5rem,
    xs: 1.5rem,
    sm: 3.0rem,
    md: 4.5rem,
    lg: 6.0rem,
    xl: 8.0rem,
) !default;

// Button
$btn-text-transform:        uppercase !default;
$btn-pad-x:                 1.6rem !default;
$btn-pad-y:                 1.2rem !default;
$btn-font-size:             1.4rem !default;
$btn-font-weight:           $text-bold !default;

$btn-xs-pad-x:              _minusPercent($btn-pad-x, 30) !default;
$btn-xs-pad-y:              _minusPercent($btn-pad-y, 30) !default;

$btn-sm-pad-x:              _minusPercent($btn-pad-x, 20) !default;
$btn-sm-pad-y:              _minusPercent($btn-pad-y, 20) !default;

$btn-lg-pad-x:              _addPercent($btn-pad-x, 30) !default;
$btn-lg-pad-y:              _addPercent($btn-pad-y, 30) !default;

$btn-xl-pad-x:              _addPercent($btn-pad-x, 50) !default;
$btn-xl-pad-y:              _addPercent($btn-pad-y, 50) !default;

$circle-btn-font-size:      2.0rem;

$btn-icon-font-size:        1.6rem;
$btn-icon-line-height:      1.4rem;
$btn-icon-vertical-align:   bottom;

// Dropdown
$dropdown-bg:               #fff !default;
$dropdown-font-size:        1.2rem;
$dropdown-width:            160px !default;
$dropdown-max-height:       300px !default;

// Inline elements
$badge-size:                20px;
$label-size:                10px;
$status-size:               10px;

// Table
$table-font-size:           1.3rem !default;
$table-bg:                  transparent !default;
$table-color:               inherit !default;
$table-cell-pad-y:          1.2rem !default;
$table-cell-pad-x:          1.8rem !default;

// Popovers
$popover-max-width:         270px;

// Card
$card-bg:                   #ffffff;
$card-border-radius:        4px;
$card-img-bg:               $gray-lightest;
$card-img-padding:          0;

// Inputs
$input-font-size:             1.6rem !default;
$input-line-height:           1.6rem !default;
$input-pad-y:                 12px !default;
$input-pad-x:                 12px !default;
$checkbox-size:               20px;
$radio-size:                  24px;
        
// Zindexs
$z-index-tooltip:             100;
$z-index-popover:             200;
$z-index-dropdown:            300;
$z-index-notification:        400;
$z-index-modal:               500;
