// basic rows
.flex-row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: var(--gutter-compensation, -0.5rem);
    margin-left: var(--gutter-compensation, -0.5rem);
}


// basic columns
.flex-col {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

// Mobile first grid
$prev-breakpoint: null;
$curr-grid:       null;
@import 'grid/flexgrid';

// sm grid
@media (min-width: map-get($breakpoints, sm)) {
    $prev-breakpoint: xs;
    $curr-grid:       sm;
    @import 'grid/flexgrid';
}

// md grid
@media (min-width: map-get($breakpoints, md)) { 
    $prev-breakpoint: sm;
    $curr-grid:       md;
    @import 'grid/flexgrid';
}

// lg grid
@media (min-width: map-get($breakpoints, lg)) { 
    $prev-breakpoint: md;
    $curr-grid:       lg;
    @import 'grid/flexgrid';
}

// xl grid
@media (min-width: map-get($breakpoints, xl)) { 
    $prev-breakpoint: lg;
    $curr-grid:       xl;
    @import 'grid/flexgrid';
}