:root
{
    /*  Palette base colors */
    @each $name, $color in $palette
    {
        --hb-color-#{$name}:               #{$color};
    }

    /* Context shades */
    /* gray */
    --hb-gray-100:                 #{_lighter($gray, 90%)};
    --hb-gray-200:                 #{_lighter($gray, 80%)};
    --hb-gray-300:                 #{_lighter($gray, 50%)};
    --hb-gray-400:                 #{_lighter($gray, 35%)};
    // Default is between 400 and 500 (i.e 450)
    --hb-gray-500:                 #{_darker($gray, 5%)};
    --hb-gray-600:                 #{_darker($gray, 20%)};
    --hb-gray-700:                 #{_darker($gray, 25%)};
    --hb-gray-800:                 #{_darker($gray, 30%)};
    --hb-gray-900:                 #{_darker($gray, 40%)};

    @each $name, $colorVar in $contextsCSSVar
    {
        $color : map-get($palette, quote(_color-name-from-var($colorVar)));

        /* #{$name} */
        --hb-brand-#{$name}-100:                 #{_lighter($color, 90%)};
        --hb-brand-#{$name}-200:                 #{_lighter($color, 80%)};
        --hb-brand-#{$name}-300:                 #{_lighter($color, 50%)};
        --hb-brand-#{$name}-400:                 #{_lighter($color, 35%)};
        // Default is between 400 and 500 (i.e 450)
        --hb-brand-#{$name}-500:                 #{_darker($color, 5%)};
        --hb-brand-#{$name}-600:                 #{_darker($color, 20%)};
        --hb-brand-#{$name}-700:                 #{_darker($color, 25%)};
        --hb-brand-#{$name}-800:                 #{_darker($color, 30%)};
        --hb-brand-#{$name}-900:                 #{_darker($color, 40%)};
    }

    /* Contextual color assignments */
    @each $name, $colorVar in $contextsCSSVar
    {
        /* #{$name} */
        --hb-brand-#{$name}:             #{$colorVar};
    }

    /* Base Colors */
    --hb-white:                            #{$white};
    --hb-black:                            #{$black};
    --hb-gray:                             #{$gray};
    --hb-body-bg:                          #{$body-bg};
    --hb-body-color:                       #{$body-color};
    --hb-link-color:                       #{$link-color};
    --hb-link-color-hover:                 #{$link-color-hover};

    /* Typeography */
    /* Font stacks */
    --hb-font-sans-serif:                  #{$font-family-sans-serif};
    --hb-font-serif:                       #{$font-family-serif};
    --hb-font-monospace:                   #{$font-family-monospace};
    --hb-base-font-family:                 #{$base-font-family};
    --hb-base-font-size:                   #{$base-font-size};
    --hb-base-line-height:                 #{$base-line-height};
    --hb-base-font-weight:                 #{$base-font-weight};
    --hb-font-smoothing:                   #{$font-smoothing};
    --hb-p-text-spacer:                    #{$text-spacer};
    /* Heading styles */
    --hb-font-headings:                    #{$font-family-headings};
    --hb-headings-line-height:             #{$headings-line-height};
    --hb-headings-font-weight:             #{$headings-font-weight};
    --hb-headings-spacer:                  #{$headings-spacer};
    /* Headings sizes */
    --hb-text-size-h1:                     #{$text-size-h1};
    --hb-text-size-h2:                     #{$text-size-h2};
    --hb-text-size-h3:                     #{$text-size-h3};
    --hb-text-size-h4:                     #{$text-size-h4};
    --hb-text-size-h5:                     #{$text-size-h5};
    --hb-text-size-h6:                     #{$text-size-h6};
    /* Paragraph sizes */
    --hb-text-size-p1:                     #{$text-size-p1};
    --hb-text-size-p2:                     #{$text-size-p2};
    --hb-text-size-p3:                     #{$text-size-p3};
    --hb-text-size-p4:                     #{$text-size-p4};
    --hb-text-size-p5:                     #{$text-size-p5};
    --hb-text-size-p6:                     #{$text-size-p6};

    /* Raised Levels */
    --hb-raised-level-one:                 #{$raised-level-one};
    --hb-raised-level-two:                 #{$raised-level-two};
    --hb-raised-level-three:               #{$raised-level-three};
    --hb-box-shadow-in:                    #{$box-shadow-in};

    /* Misc */
    --hb-border-radius:                    3px;

    /* Grid */
    /* Breakpoints */
    @each $name, $breakpoint in $breakpoints
    {
        --hb-breakpoint-#{$name}:          #{$breakpoint};
    }
    /* Gutters */
    @each $name, $gutter in $grid-gutters
    {
        --hb-grid-gutter-#{$name}:         #{$gutter};
    }
    /* Poles */
    @each $name, $pole in $grid-poles
    {
        --hb-grid-pole-#{$name}:           #{$pole};
    }
    /* Container gutters */
    @each $name, $cgutter in $container-gutters
    {
        --hb-container-gutter-#{$name}:    #{$cgutter};
    }

    /* Easings */
    /* Easing functions */
    @each $name, $easing in $easings
    {
        --hb-#{$name}:                     #{$easing};
    }
    /* Easing times */
    @each $name, $time in $easing-times
    {
        --hb-ease-time-#{$name}:           #{$time};
    }
    /* Base Easings */
    --hb-base-easing:                      #{$base-easing};
    --hb-base-easing-time:                 #{$base-easing-time};

    /* Zindexs */
    @each $name, $zindex in $zindexs
    {
        --hb-zindex-#{$name}:              #{$zindex};
    }
}