@use "sass:math";
// Base
.btn-chip
{
	--fbx-btn-transition: none;

    &:before
    {
    	content: "\f00c";
        position: absolute;
        left: var(--fbx-btn-padding-x);
        top: 50%;
        transform: translateY(-50%);
        @include glyph-icon;
        overflow: hidden;
	    display: block;
	    max-width: 0;
	    font-size: var(--fbx-btn-icon-size);
    }
    // Selected
    &.checked
    {
    	padding-left: calc(var(--fbx-btn-padding-x) * 2.5);

    	&:before
	    {
	        max-width: 30px;
	        transition: max-width .5s ease;
	    }
	    > .fa:first-child,
        > .fa-brands:first-child
	    {
	        display: none !important;
	    }
    }
    .remove-btn
    {
    	font-size: var(--fbx-btn-icon-size);
    	line-height: 0;
    	vertical-align: middle;
    	cursor: pointer;
    }
}

// Styled input
.chips-input
{
    display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	column-gap: 5px;
    row-gap: 20px;
	border: 1px solid $input-border-color;
    border-radius: $input-radius;
    padding: 0;

    &:focus,
    &:focus-within
    {
        box-shadow: inset 0 0 0 1px $input-focus-theme;
        border-color: $input-focus-theme;
    }
    .btn-chip
    {
        margin: math.div($input-pad-y, 2) 0;
        &:first-child
        {
            margin-left: $input-pad-x;
        }
    }
    .form-field
    {
    	display: flex;
    	flex: 1 0 0%;
    	width: 100%;
    	min-width: 30%;
        padding: 0 1px;

        input
        {
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border: none;
            box-shadow: none;
            margin-top: 1px;
            margin-bottom: 1px;
        }
        &:focus,
        &.focus
        {
            box-shadow: none;
            border: none;
            outline: none;
            box-shadow: none;
            box-shadow: none;
        }
    }
}

// Unstyled input
.chips-input-unstyled
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 5px;

	.btn-chip
	{
		display: inline-table;
	}

	label
	{
		margin-right: 10px;
	}
	input
	{
		flex: 1 0 0%;
    	width: 100%;
    	min-width: 100px;
    	margin-left: 10px;
	}
}

