.drawer-container
{
	// Variables
	--fbx-drawer-bg: #{$drawer-bg};
	--fbx-drawer-width: #{$drawer-width};
	--fbx-drawer-size-peekable: #{$drawer-size-peekable};

	// Overlay
	--fbx-drawer-overlay-bg: #{$drawer-overlay-bg};
	--fbx-drawer-overlay-bg-dark: #{$drawer-overlay-bg-dark};

	--fbx-drawer-border-color: #{$drawer-border-color};

	height: 100%;
    width: 100%;

    // Drawer wrap
	.drawer-wrap
	{
		top: var(--fbx-drawer-top);
		z-index: var(--fbx-zindex-drawer);
	    background-color: var(--fbx-drawer-bg);

		position: fixed;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	    overflow: hidden;
	    overflow-y: auto;

	    // Innner dialog
		.drawer-dialog
		{
			width: 100%;
			height: 100%;
		}
	}

	// Body wrap
	.drawer-body-wrap
	{
		margin: 0;
	}

	// Shared positions
	&.drawer-right .drawer-wrap,
	&.drawer-left .drawer-wrap
	{
		height: 100%;
		top: 0;
		width: var(--fbx-drawer-width);
	}
	&.drawer-top .drawer-wrap,
	&.drawer-bottom .drawer-wrap
	{
		width: 100%;
		right: 0;
		left: 0;
		height: auto;
	}

	// Left
	&.drawer-left
	{
		.drawer-wrap
		{
			left: 0;
			box-shadow: 4px 0px 7px -1px rgb(0 0 0 / 20%);
		}
		&.persistent .drawer-wrap
		{
			border-right: 1px solid var(--fbx-drawer-border-color);
		}
	}

	// Right
	&.drawer-right
	{
		.drawer-wrap
		{
			right: 0;
			box-shadow: -4px 0px 7px -1px rgb(0 0 0 / 20%);
		}
		&.persistent .drawer-wrap
		{
			border-left: 1px solid var(--fbx-drawer-border-color);
		}
	}

	// Top
	&.drawer-top
	{
		.drawer-wrap
		{
			top: 0;
			box-shadow: 0px 4px 7px -1px rgb(0 0 0 / 20%);
		}
		&.persistent .drawer-wrap
		{
			border-bottom: 1px solid var(--fbx-drawer-border-color);
			position: absolute;
			top: 0;
		}
	}

	// Bottom
	&.drawer-bottom 
	{
		.drawer-wrap
		{
			bottom: 0;
			box-shadow: 0px -4px 7px -1px rgb(0 0 0 / 20%);
		}
		&.persistent .drawer-wrap
		{
			border-top: 1px solid var(--fbx-drawer-border-color);
			position: relative;
			bottom: 0;
		}
	}

	// Drawer overlay
	.drawer-overlay
	{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: var(--fbx-zindex-drawer);
		visibility: visible;
	}
	&.overlay-dark .drawer-overlay
	{
		background-color: var(--fbx-drawer-overlay-bg-dark);
	}
	&.overlay-light .drawer-overlay
	{
		background-color: var(--fbx-drawer-overlay-bg);
	}
	&.closed .drawer-overlay
	{
		visibility: hidden;
	}

	// Hide non-persistent drawers
	&.closed:not(.persistent)
	{
		position: absolute;
	  	width: 1px;
	  	height: 1px;
	  	padding: 0;
	  	margin: -1px;
	  	overflow: hidden;
	  	clip: rect(0,0,0,0);
	  	border: 0;
	  	visibility: hidden;
	}
	&.closed.persistent:not(.peekable) .drawer-wrap
	{
		display: none;
	}

	&.closed.peekable .drawer-wrap
	{
		overflow: hidden;
	}

	&.persistent .drawer-wrap
	{
		box-shadow: none;
	}

	// Header
	.drawer-header
	{
		border-bottom: 1px solid var(--fbx-drawer-border-color);
		padding: 10px 0;

		.close-btn
		{
			opacity: 1;
			transition: opacity .225s ease-out;
		}
	}
	&.closed .drawer-header .close-btn
	{
		visibility: hidden;
		opacity: 0;
	}

	// Hide disabled
	.drawer-wrap.disabled
    {
    	display: none !important;
    }
}
