// Reset
.no-border              { border: 0; }

// Box shadows 
.shadow-out  		    { box-shadow: $raised-level-one }
.shadow-in   		    { box-shadow: $box-shadow-in }

// Color inheritance
.border-s               {border-bottom: 1px solid;}
.border-n               {border-top:    1px solid;}
.border-e               {border-left:   1px solid;}
.border-w               {border-right:  1px solid;}

// Color specific
@each $context, $colors in $contexts
{    
    .border-#{$context} { border-color: map-get($colors, "color") }
}
