// Reset
.no-border              { border: 0; }

// Color inheritance
.border-s               {border-bottom: 1px solid;}
.border-n               {border-top:    1px solid;}
.border-e               {border-left:   1px solid;}
.border-w               {border-right:  1px solid;}

// Color specific
@each $name, $color in $colors
{
    $nicename : _str-replace($name, 'brand-', '');

    .border-#{$nicename} { border-color: var(--hb-#{$name}) }
}