// Fonts
.sans-serif   { font-family: $font-family-sans-serif }
.monospace    { font-family: $font-family-monospace }
.serif        { font-family: $font-family-monospace }
.heading-font { font-family: $headings-font-family }

// Font Weights
.font-lightest { font-weight: $text-lightest }
.font-light    { font-weight: $text-light }
.font-normal   { font-weight: $text-normal }
.font-bold     { font-weight: $text-bold }
.font-bolder   { font-weight: $text-bolder }
.font-boldest  { font-weight: $text-boldest }

// Font Styles
.text-normal    { font-style: normal; }
.text-italic    { font-style: italic; }
.text-ellipses  { @include _ellipsis(); }
.text-strike    { text-decoration: line-through; }

// Text Modifications
.uppercase  { text-transform: uppercase; }
.lowercase  { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }
.no-text-decoration { text-decoration: none; }

// Text Alignments
.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }
.text-justify { text-align: justify; }

// Text colors
.text-black   { color: #000; }
.text-warning { color: $brand-warning }
.text-info    { color: $brand-info    }
.text-danger  { color: $brand-danger  }
.text-success { color: $brand-success }
.text-muted   { color:  $gray-light   }
