// Fonts
.sans-serif   { font-family: $font-family-sans-serif }
.monospace    { font-family: $font-family-monospace }
.serif        { font-family: $font-family-serif }
.heading-font { font-family: $headings-font-family }

// Font Weights
.font-lightest { font-weight: $text-lightest }
.font-light    { font-weight: $text-light }
.font-normal   { font-weight: $text-normal }
.font-bold     { font-weight: $text-bold }
.font-bolder   { font-weight: $text-bolder }
.font-boldest  { font-weight: $text-boldest }

// Font Styles
.text-normal    { font-style: normal; }
.text-italic    { font-style: italic; }
.text-ellipses  { @include _ellipsis(); }
.text-strike    { text-decoration: line-through; }

// Text Modifications
.uppercase  { text-transform: uppercase; }
.lowercase  { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }
.no-text-decoration { text-decoration: none; }

// Text Alignments
.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }
.text-justify { text-align: justify; }

// Text colors
.text-black   { color: #000; }
.text-warning { color: $brand-warning }
.text-info    { color: $brand-info    }
.text-danger  { color: $brand-danger  }
.text-success { color: $brand-success }
.text-muted   { color:  $gray-light   }

// Misc
.nowrap       { white-space: nowrap; }

// Responsive text
@include media-breakpoint-down(md)
{
	h1.responsive, .h1.responsive
	{ 
	    font-size: _minusPercent($text-size-h1, 20);
	}
	h2.responsive, .h2.responsive
	{ 
	    font-size: _minusPercent($text-size-h2, 20);
	}
	h3.responsive, .h3.responsive
	{ 
	    font-size: _minusPercent($text-size-h3, 20);
	}
	h4.responsive, .h4.responsive
	{ 
	    font-size: _minusPercent($text-size-h4, 20);
	}
	h5.responsive, .h5.responsive
	{ 
	    font-size: _minusPercent($text-size-h5, 20);
	}
	h6.responsive, .h6.responsive
	{ 
	    font-size: _minusPercent($text-size-h6, 20);
	}
}