// universal box sizing fix
// https://css-tricks.com/box-sizing/
*,:after,:before
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// html font size at 62.5% allows for 
// rem style px sizes 
// e.g b{ font-size: 1.4rem; } /* = 14px */
// https://snook.ca/archives/html_and_css/font-size-with-rem
html
{
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}
html, body
{
    background-color: $body-bg;
    color:            $body-color;
}
html.darkmode,
.darkmode body
{
    background-color: $body-bg-darkmode;
    color:            $body-color-darkmode;
}
body
{
    font-family:      $base-font-family;
    font-weight:      $base-font-weight;
    line-height:      $base-line-height;
    font-size:        1.45rem;
    @include _fontSmooth;
}
input, select, label, button, textarea
{
    font-family: $base-font-family;
    font-size:   $base-font-size;
    color: $body-color;
    @include _fontSmooth;
}
// Links
a
{
    color: $link-color;
    text-decoration: none;
    background: transparent;
    &:active,
    &:hover
    {
        outline: 0;
        color: darken($link-color, 10%);
        text-decoration: underline;
    }
    &.no-link:hover
    {
        text-decoration: none;
    }
}
// Clearfix
.clearfix
{
    @include _clearfix;
}

// no-scroll body
body.no-scroll
{
    height: 100%;
    overflow: hidden !important;
}