// universal box sizing fix
// https://css-tricks.com/box-sizing/
*,:after,:before
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// html font size at 62.5% allows for 
// rem style px sizes 
// e.g b{ font-size: 1.4rem; } /* = 14px */
// https://snook.ca/archives/html_and_css/font-size-with-rem
html
{
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}
html, body
{
    background-color: var(--hb-body-bg);
    color:            var(--hb-body-color);
}
body
{
    font-family:      var(--hb-base-font-family);
    font-weight:      var(--hb-base-font-weight);
    line-height:      var(--hb-base-line-height);
    font-size:        var(--hb-base-font-size);
    @include _font-smooth;
}
input, select, label, button, textarea
{
    font-family: var(--hb-base-font-family);
    font-size:   var(--hb-base-font-size);
    color:       var(--hb-body-bg);
    @include _font-smooth;
}
// Links
a
{
    color: var(--hb-link-color);
    text-decoration: none;
    background: transparent;
    &:active,
    &:hover
    {
        outline: 0;
        color: var(--hb-link-color-hover);
        text-decoration: underline;
    }
    &.no-link:hover
    {
        text-decoration: none;
    }
}
// Clearfix
.clearfix
{
    @include _clearfix;
}

// no-scroll body
html.no-scroll,
body.no-scroll
{
    height: 100% !important;
    overflow: hidden !important;
}