.backdrop-wrapper
{
	--hb-backdrop-bg: #{$backdrop-bg};
	--hb-backdrop-color: #{$backdrop-color};
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	visibility: hidden;
	background: var(--hb-backdrop-bg);
	color: var(--hb-backdrop-color);
	&.backdrop-open
	{
		visibility: visible;
	}
}
.backdrop-page-wrapper
{
	background-color: var(--hb-body-bg);
}
