.badge
{
    --hb-badge-size: 2rem;
    --hb-badge-color: var(--hb-white);
    --hb-badge-bg: var(--hb-gray);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    white-space: nowrap;
    width: var(--hb-badge-size);
    height: var(--hb-badge-size);
    line-height: var(--hb-badge-size);
    color: var(--hb-badge-color);
    background-color: var(--hb-badge-bg);

    @each $context, $colors in $contexts
    {
        &.badge-#{$context}
        {
            --hb-badge-color: #{map-get($colors, "contrast")};
            --hb-badge-bg: #{map-get($colors, "color")}
        }
    }
}

// In buttons
.btn
{
    &.with-badge
    {
        overflow: visible;
        position: relative;
        .badge
        {
            position: absolute;
            top: -9px;
            right: -7px;
        }
    }
}