.badge
{
    --hb-badge-size: #{$badge-size};
    --hb-badge-color: var(--hb-white);
    --hb-badge-bg: var(--hb-gray);
    font-size: calc(var(--hb-badge-size) * 2);
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: calc(var(--hb-badge-size) * 2);
    min-width: calc(var(--hb-badge-size) * 3);
    min-height: calc(var(--hb-badge-size) * 3);
    line-height: var(--hb-badge-size);
    padding: var(--hb-badge-size);
    color: var(--hb-badge-color);
    background-color: var(--hb-badge-bg);

    @each $context, $colors in $contexts
    {
        &.badge-#{$context}
        {
            --hb-badge-color: #{map-get($colors, "contrast")};
            --hb-badge-bg: #{map-get($colors, "color")}
        }
    }
}

// In buttons
.btn.with-badge
{
    overflow: visible !important;
    position: relative;

    .badge
    {
        position: absolute;
        top: -9px;
        right: -7px;
    }
    .ripple
    {
        display: none !important;
    }
}