//
// Base styles
//
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $card-bg;
	border: $card-border-width solid $card-border-color;
	border-radius: $border-radius;
}

.card-block {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: $card-spacer-x;
}
.card-title {
	margin-bottom: $card-spacer-y;
}
.card-subtitle {
	margin-top: -($card-spacer-y / 2);
}
.card-text:last-child {
	margin-bottom: 0;
}
.card-link {
	&:hover {
		text-decoration: none;
	}

	+ .card-link {
		margin-left: $card-spacer-x;
	}
}

// card image
.card-img {
  // margin: -1.325rem;
  border-radius: $border-radius;
}

// Card image caps
.card-img-top {
	border-radius: 0;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
}
.card-img-bottom {
	border-radius: 0;
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}
.card-img,
.card-img-top,
.card-img-bottom {
	width: 100%;
	height: auto;
}

// car header/footer
.card-header {
	padding: $card-spacer-y $card-spacer-x;
	margin-bottom: 0; // Removes the default margin-bottom of <hN>
	background-color: $card-cap-bg;
	border-bottom: $card-border-width solid $card-border-color;

  	&:first-child {
  		border-radius: 0;
  		border-top-left-radius: $border-radius;
  		border-top-right-radius: $border-radius;
  	}
  	> h1,h2,h3,h4,h5,h6,p {
  		margin-bottom: 0;
  	}
}
.card-footer {
	padding: $card-spacer-y $card-spacer-x;
	background-color: $card-cap-bg;
	border-top: $card-border-width solid $card-border-color;

	&:last-child {
		border-radius: 0;
  		border-bottom-left-radius: $border-radius;
  		border-bottom-right-radius: $border-radius;
	}
}

// outline contextual styles
.card-outline-primary {
	border-color: $brand-primary;
}
.card-outline-info {
	border-color: $brand-info;
}
.card-outline-success {
	border-color: $brand-success;
}
.card-outline-warning {
	border-color: $brand-warning;
}
.card-outline-danger {
	border-color: $brand-danger;
}

// header contextual styles
.card-header-primary {
	background-color: $brand-primary;
	border-color: $brand-primary;
	color: #fff;
}
.card-header-info {
	background-color: $brand-info;
	border-color: $brand-info;
	color: #fff;
}
.card-header-success {
	background-color: $brand-success;
	border-color: $brand-success;
	color: #fff;
}
.card-header-warning {
	background-color: $brand-warning;
	border-color: $brand-warning;
	color: #fff;
}
.card-header-danger {
	background-color: $brand-danger;
	border-color: $brand-danger;
	color: #fff;
}


// Unstyled
.card-unstyled {
	background-color: transparent;
	border: none;
	border-radius: 0;
	.card-header,
	.card-footer {
		background-color: transparent;
		border: none;
		border-radius: 0;
	}
}

// Groups
.card-group .card, {
	margin-bottom: $card-spacer-y;
}
.card-group .card:last-child {
	margin-bottom: 0;
}
@include media-breakpoint-up(sm) {
	.card-group {
	    display: flex;
	    flex-flow: row wrap;

		.card {
		    -webkit-box-flex: 1;
		    -webkit-flex: 1 0 0%;
		    -ms-flex: 1 0 0%;
		    flex: 1 0 0%;
		    border-radius: 0;
		    margin-bottom: 0;

		    .card-header,
		    .card-footer,
		    .card-img-top,
		    .card-img-bottom,
		    .card-img {
			    border-radius: 0;
			}

			&:not(::first-child),
			&:not(::last-child) {
				border-left: none;
				border-right: none;
			}

		    &:first-child {
		    	border-top-left-radius: $border-radius;
	    		border-bottom-left-radius: $border-radius;
	    		.card-header:first-child,
	    		.card-img-top {
	    			border-top-left-radius: $border-radius;
	    		}
			    .card-footer:last-child,
			    .card-img-bottom {
			    	
	    			border-bottom-left-radius: $border-radius;
			    }
		    }
		    &:last-child {
		    	border-top-right-radius: $border-radius;
	    		border-bottom-right-radius: $border-radius;
	    		.card-header:first-child,
	    		.card-img-top {
	    			border-top-right-radius: $border-radius;
	    		}
			    .card-footer:last-child,
			    .card-img-bottom {
			    	
	    			border-bottom-right-radius: $border-radius;
			    }
		    }
		}
	}
}

// Decks
.card-deck .card, {
	margin-bottom: $card-spacer-y;
}
.card-deck .card:last-child {
	margin-bottom: 0;
}
@include media-breakpoint-up(sm) {

	.card-deck {
    	display: flex;
    	flex-flow: row wrap;

    	.card {
	      	display: flex;
	      	flex: 1 0 0;
	      	flex-direction: column;
	      	margin-bottom: 0;
	      	
	      	// Selectively apply horizontal margins to cards to avoid doing the
	      	// negative margin dance like our grid. This differs from the grid
	      	// due to the use of margins as gutters instead of padding.
	      	&:not(:first-child) { margin-left: $card-deck-margin; }
	      	&:not(:last-child) { margin-right: $card-deck-margin; }
    	}
  	}
}

// Columns (masonry)
.card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    .card {
	    display: inline-block;
	    width: 100%;
	    margin-bottom: 1.8rem;
	}
}