.card
{
	position: relative;
	display: block;
	width: 100%;
	background-color: $card-bg;
	border-radius: $card-border-radius;
	box-shadow: $raised-level-two;
    transition: box-shadow $base-easing-time $base-easing;
    &:hover,
    &:focus
    {
        box-shadow: $raised-level-two-hover;
    }

	.card-block
	{
		padding: $card-block-padding;
	}
	.card-title
	{
		margin-bottom: 1.7rem;
	}
	.card-subtitle
	{
		color: $gray-dark;
		margin-bottom: 1.8rem;
	}
	.card-text
	{
		color: $gray-dark;
		margin: 0;
		padding: 1.8rem 0;
		&:last-child
		{
			padding-bottom: 0;
		}
	}
	.card-title + .card-text,
	.card-subtitle + .card-text
	{
		padding-top: 0;
	}

	.card-link
	{
		&:hover
		{
			text-decoration: none;
		}

		+ .card-link
		{
			margin-left: 1.6rem;
		}
	}
	.card-divider
	{
	    height: 1px;
	    background: $gray-light;
	    border: 0;
	    margin-top: 0.5rem;
	    margin-bottom: 0.5rem;
	}
	.card-img-top
	{
		background-color: $card-img-bg;
		padding: $card-img-padding;
		border-radius: 0;
		border-top-left-radius: $card-border-radius;
		border-top-right-radius: $card-border-radius;
		.card-img
		{
			border-radius: 0;
			border-top-left-radius: $card-border-radius;
			border-top-right-radius: $card-border-radius;
		}
	}
	.card-img-bottom
	{
		border-radius: 0;
		border-bottom-left-radius: $card-border-radius;
		border-bottom-right-radius: $card-border-radius;
		.card-img
		{
			border-radius: 0;
			border-bottom-left-radius: $card-border-radius;
			border-bottom-right-radius: $card-border-radius;
		}
	}
	.card-img,
	.card-img-top,
	.card-img-bottom
	{
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: block;
	}
	.card-header
	{
		padding: 2rem 1.6rem;
		margin-bottom: 0;

	  	&:first-child
	  	{
	  		border-radius: 0;
	  		border-top-left-radius: $card-border-radius;
	  		border-top-right-radius: $card-border-radius;
	  	}
	  	> h1,h2,h3,h4,h5,h6,p
	  	{
	  		margin-bottom: 0;
	  	}
	}
	.card-footer
	{
		padding: 2rem 1.6rem;
		&:last-child
		{
			border-radius: 0;
	  		border-bottom-left-radius: $card-border-radius;
	  		border-bottom-right-radius: $card-border-radius;
		}
	}
	.card-table
	{
		table tbody > tr:last-child td,
		table tbody > tr:last-child th
		{
			border-bottom: none;
		}
	}
	.card-header.with-options
	{
		line-height: 38px;

		.card-header-options
		{
			float: right;
		}
	}
}