.slider
{
	--hb-slider-bg: #{$slider-bg};
	--hb-slider-gap: 20px;
	--hb-slider-dots-color: #{$slider-dots-color};
	--hb-slider-dots-color-active: #{$slider-dots-color-active};
	--hb-slider-dots-size: #{$slider-dots-size};
	--hb-slider-nav-btn-size: #{$slider-nav-btn-size};
	--hb-slider-nav-icon-size: #{$slider-nav-icon-size};
	--hb-slider-nav-btn-color: #{$slider-nav-btn-color};
	--hb-slider-nav-btn-color-hover: #{$slider-nav-btn-color-hover};

	width: 100%;
	background-color: var(--hb-slider-bg);
	overflow: hidden;
    position: relative;

    .slider-inner
	{

	}

	.slider-viewport
	{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		column-gap: 20px;
		justify-content: flex-start;
		position: relative;
		left: 0;
	}

	.slider-viewport > *
	{
		width: 40%;
		max-width: 40%;
		flex: 0 0 100%;
	}
	.flickity-page-dots
	{
		bottom: 30px;

		.dot
		{
			background-color: var(--hb-slider-dots-color);
			opacity: 1;
			width: var(--hb-slider-dots-size);
			height: var(--hb-slider-dots-size);
			&.is-selected
			{
				--hb-slider-dots-color: var(--hb-slider-dots-color-active);
			}
		}
	}

	.slider-control
	{
		position: absolute;
		height: 100%;
		top: 0;

		&.control-right
		{
			right: 0;
		}
		&.control-left
		{
			left: 0;
		}
		.fa
		{
			--hb-icon-size: 25px;
		}
	}

	.slider-dots
	{
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
	    align-items: center;
	    justify-content: center;
	    column-gap: 15px;
	    padding: 15px 0;

		.slider-dot
		{
			--hb-btn-font-size: 3px;
		}
	}
	
	&:hover
	{
		.flickity-prev-next-button
		{
			opacity: 1;
		}
	}
}

@include media-breakpoint-down(md)
{
	.flickity-prev-next-button
	{
		display: none;
	}
}
