.card
{
	position: relative;
	display: block;
	width: 100%;
	background-color: $card-bg;
	border-radius: $card-border-radius;
	box-shadow: $raised-level-two;
    transition: box-shadow $base-easing-time $base-easing, background-color 0.15s $base-easing;
    &:hover,
    &:focus
    {
        box-shadow: $raised-level-two-hover;
    }
    &:active
    {
    	background-color: rgba(#000000, 0.01);
    }
    &.flat
    {
    	box-shadow: none;
    	border: 1px solid $gray-lighter;
    	&:active
    	{
    		background-color: transparent;
    	}
    }
	.card-block
	{
		padding: 20px 16px;

		> div:first-child,
		> p:first-child,
		> h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child
		{
			padding-top: 0;
			margin-top: 0;
		}
		> div:last-child,
		> p:last-child,
		> h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child
		{
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	.card-block
	{
		> div
		{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.card-title
	{
		margin-bottom: 17px;
		font-weight: $text-bold;
	}
	.card-subtitle
	{
		color: $gray-dark;
		margin-bottom: 18px;
	}
	.card-text
	{
		color: $gray-dark;
		margin: 0;
		padding: 18px 0;
		&:last-child
		{
			padding-bottom: 0;
		}
	}
	.card-title + .card-text,
	.card-subtitle + .card-text
	{
		padding-top: 0;
	}
	.card-divider
	{
	    height: 1px;
	    background: $gray-lighter;
	    border: 0;
	    margin: 10px 0;
	}
	
	.card-text + .card-divider,
	.card-block + .collapsed + .card-divider,
	.card-block + .card-divider
	{
		margin-top: 0;
	}

	.card-divider + .card-block
	{
		padding-top: 8px;
	}

	.card-img-top
	{
		background-color: $card-img-bg;
		padding: $card-img-padding;
		border-radius: 0;
		border-top-left-radius: $card-border-radius;
		border-top-right-radius: $card-border-radius;
		.card-img
		{
			border-radius: 0;
			border-top-left-radius: $card-border-radius;
			border-top-right-radius: $card-border-radius;
		}
	}
	.card-img-bottom
	{
		border-radius: 0;
		border-bottom-left-radius: $card-border-radius;
		border-bottom-right-radius: $card-border-radius;
		.card-img
		{
			border-radius: 0;
			border-bottom-left-radius: $card-border-radius;
			border-bottom-right-radius: $card-border-radius;
		}
	}
	.card-img,
	.card-img-top,
	.card-img-bottom
	{
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: block;
	}
	.card-header
	{
		padding: 20px 16px;
		margin-bottom: 0;
		position: relative;

	  	&:first-child
	  	{
	  		border-radius: 0;
	  		border-top-left-radius: $card-border-radius;
	  		border-top-right-radius: $card-border-radius;
	  	}
	  	> h1,h2,h3,h4,h5,h6,p
	  	{
	  		margin-bottom: 0;
	  	}
	  	.card-title + .card-subtitle
	  	{
	  		margin-top: 9px;
	  	}
	  	.card-icon
	  	{
	  		position: absolute;
	  		width: 40px;
		    height: 40px;
		    border-radius: 50%;
		    background-color: $gray;
		    top: 50%;
    		transform: translateY(-50%);
    		padding: 0 10px;
    		line-height: 48px;

	  		.glyph-icon
	  		{
	  			color: $gray-dark;
	  			font-size: 2rem;
	  		}
	  	}
	  	.card-icon + .card-title,
	  	.card-icon + .card-title + .card-subtitle
	  	{
	  		padding-left: 55px;
	  	}
	  	.card-overflow
	  	{
	  		position: absolute;
		    top: 50%;
		    right: 5px;
		    transform: translateY(-50%);
	  	}
	}
	.card-actions
	{
		padding: 20px 5px 20px 5px;

		.actions-primary
		{
			overflow: hidden;
    		width: 1000px;
		}
		.actions-primary,
		.actions-extra
		{
			zoom: 1;
			display: table-cell;
    		vertical-align: middle;
    		white-space: nowrap;
    	}
		&:last-child
		{
			border-radius: 0;
	  		border-bottom-left-radius: $card-border-radius;
	  		border-bottom-right-radius: $card-border-radius;
		}
	}
	.card-block + .card-actions
	{
		padding-top: 0;
	}
	.card-table
	{
		table tbody > tr:last-child td,
		table tbody > tr:last-child th
		{
			border-bottom: none;
		}
	}
	.card-header.with-options
	{
		line-height: 38px;

		.card-header-options
		{
			float: right;
		}
	}
}