.drop-container
{
    --hb-dropdown-border-radius:  #{$dropdown-border-radius};
    --hb-dropdown-bg:  #{$dropdown-bg};
    --hb-dropdown-color:  #{$dropdown-color};
    --hb-dropdown-link-color:  #{$dropdown-link-color};
    --hb-dropdown-link-bg-active:  #{$dropdown-link-bg-active};
    --hb-dropdown-width:  #{$dropdown-width};
    --hb-dropdown-height:  #{$dropdown-height};
    --hb-dropdown-font-size:  #{$dropdown-font-size};
    --hb-dropdown-divider-size:  #{$dropdown-divider-size};
    --hb-dropdown-divider-color:  #{$dropdown-divider-color};
    --hb-dropdown-divider-space:  #{$dropdown-divider-space};
    --hb-dropdown-header-divider-color:  #{$dropdown-header-divider-color};
    --hb-dropdown-link-spacer-y:  #{$dropdown-link-spacer-y};
    --hb-dropdown-link-spacer-x:  #{$dropdown-link-spacer-x};

    position: relative;
    display: inline-block;

    .btn-dropdown + .drop-menu
    {
        display: none;
    }
    .btn-dropdown.active + .drop-menu
    {
        display: block;
    }
    .drop-menu
    {
        color: var(--hb-dropdown-color);
        font-size: var(--hb-dropdown-font-size);
        position: absolute;
        width: 100%;
        left: 0;
        border-radius: var(--hb-dropdown-border-radius);
        top: $btn-height + 5;
        min-width: var(--hb-dropdown-width);
        z-index: var(--hb-zindex-dropdown);
        width: auto;
        .drop
        {
            border-radius: var(--hb-dropdown-border-radius);
            background-color: var(--hb-dropdown-bg);
            padding: var(--hb-dropdown-link-spacer-y) 0px;
            box-shadow: var(--hb-dropdown-shadow);
            @include raise(--hb-dropdown-shadow, $dropdown-shadow-level);
        }
    }

    // Dropdown list
    .drop ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: var(--hb-dropdown-height);
        overflow-y: auto;
        li
        {
            padding: 0;
            display: block;
            width: 100%;
            overflow: hidden;
            position: relative;
            margin: 0;
            a
            {
                display: block;
                position: relative;
                background-color: transparent;
                width: 100%;
                color: var(--hb-dropdown-link-color);
                padding: var(--hb-dropdown-link-spacer-x);
                @include _ellipsis();
                &:hover,
                &.selected
                {
                    text-decoration: none;
                    background-color: var(--hb-dropdown-link-bg-active);
                }
            }
            // Show tick
            a.selected:after
            {
                font-family: 'IcoMoon';
                content:"\ed71";
                position: absolute;
                color: var(--hb-brand-primary);
                right: var(--hb-dropdown-link-spacer-x);
            }

        }
        .drop-header
        {
            font-weight: $text-bold;
            padding: 0px var(--hb-dropdown-link-spacer-x) var(--hb-dropdown-link-spacer-y) var(--hb-dropdown-link-spacer-x);
            border-bottom: var(--hb-dropdown-divider-size) solid var(--hb-dropdown-header-divider-color);
        }
        .divider
        {
            padding-top: var(--hb-dropdown-divider-space);
            margin-bottom: var(--hb-dropdown-divider-space);
            border-bottom: var(--hb-dropdown-divider-size) solid var(--hb-dropdown-divider-color);
        }
        .divider,
        .drop-header + li,
        .divider + li,
        li:first-child
        {
            border-top-color: transparent;
        }
    }
}


// POSITIONING
// South
.drop-s
{
    left: 50%;
    right: 50%;
    margin-left: -80px;
}
.drop-se
{
    right: 0;
    left: auto;
    left: initial;
}
.drop-sw
{
    left: 0;
    right: auto;
    right: initial;
}

// North
.drop-n
{
    top: auto;
    bottom: 100%;
    left: 50%;
    right: 50%;
    margin-left: -80px;
    margin-bottom: 8px;
}
.drop-ne
{
    top: auto;
    bottom: 100%;
    right: 0;
    left: auto;
    left: initial;
    margin-bottom: 8px;
}
.drop-nw
{
    top: auto;
    bottom: 100%;
    left: 0;
    right: auto;
    right: initial;
    margin-bottom: 8px;
}

// Drops with arrows need to drop down/up more
.drop-menu.arrow
{
    &.drop-s,
    &.drop-se,
    &.drop-sw
    {
        top: ($btn-pad-y * 4 );
    }
}
.drop-menu.arrow
{
    &.drop-n,
    &.drop-ne,
    &.drop-nw
    {
        margin-bottom: 20px;
    }
}

// size specific
.btn-xs + .drop-menu
{
    &.drop-s,
    &.drop-se,
    &.drop-sw
    {
        top: ($btn-pad-y * 2 ) + ($btn-font-size * 2) - 1;
    }
}
.btn-sm + .drop-menu
{
    &.drop-s,
    &.drop-se,
    &.drop-sw
   
   {
        top: ($btn-pad-y * 2 ) + ($btn-font-size * 2) - 0.5;
    }
}
.btn-lg + .drop-menu
{
    &.drop-s,
    &.drop-se,
    &.drop-sw
   
   {
        top: ($btn-pad-y * 2 ) + ($btn-font-size * 2) + 1;
    }
}
.btn-xl + .drop-menu
{
    &.drop-s,
    &.drop-se,
    &.drop-sw
   
   {
        top: ($btn-pad-y * 2 ) + ($btn-font-size * 2) + 1.5;
    }
}