.drop-container
{
    --hb-dropdown-border-radius:  #{$dropdown-border-radius};
    --hb-dropdown-width: #{$dropdown-width};
    --hb-dropdown-height: #{$dropdown-height};

    position: relative;
    display: inline-block;

    .btn-dropdown + .drop-menu
    {
        display: none;
    }
    .btn-dropdown.active + .drop-menu
    {
        display: block;
    }
    .drop-menu
    {
        position: absolute;
        width: 100%;
        left: 0;
        border-radius: var(--hb-dropdown-border-radius);
        top: (($btn-pad-y * 2) + $btn-font-size) * 1.2 ;
        min-width: var(--hb-dropdown-width);
        z-index: var(--hb-zindex-dropdown);
        width: auto;

        .menu
        {
            border-radius: var(--hb-dropdown-border-radius);
            @include raise(--hb-dropdown-shadow, $dropdown-shadow-level);
        }
    }

    // POSITIONING
    .drop-se, .drop-ne
    {
        right: 0;
        left: auto;
        left: initial;
    }

    .drop-sw, .drop-nw
    {
        left: 0;
        right: auto;
        right: initial;
    }
    .drop-s
    {
        left: 50%;
        transform: translateX(-50%);
    }
    .drop-n
    {
        left: 50%;
        transform: translateX(-50%);
    }
    .drop-n, .drop-ne, .drop-nw
    {
        top: auto;
        bottom: 100%;
        margin-bottom: 8px;
    }
}


// Drops with arrows need to drop down/up more
.drop-menu.arrow
{
    &.drop-s,
    &.drop-se,
    &.drop-sw
    {
        top: ($btn-pad-y * 4 );
    }
}
.drop-menu.arrow
{
    &.drop-n,
    &.drop-ne,
    &.drop-nw
    {
        margin-bottom: 20px;
    }
}

// size specific
.btn-xs + .drop-menu
{
    &.drop-s,
    &.drop-se,
    &.drop-sw
    {
        top: ($btn-pad-y * 2 ) + ($btn-font-size * 2) - 1;
    }
}
.btn-sm + .drop-menu
{
    &.drop-s,
    &.drop-se,
    &.drop-sw
   
   {
        top: ($btn-pad-y * 2 ) + ($btn-font-size * 2) - 0.5;
    }
}
.btn-lg + .drop-menu
{
    &.drop-s,
    &.drop-se,
    &.drop-sw
   
   {
        top: ($btn-pad-y * 2 ) + ($btn-font-size * 2) + 1;
    }
}
.btn-xl + .drop-menu
{
    &.drop-s,
    &.drop-se,
    &.drop-sw
   
   {
        top: ($btn-pad-y * 2 ) + ($btn-font-size * 2) + 1.5;
    }
}