// Base styles
.drop-container {
    position: relative;
    display: inline-block;
}
.btn-dropdown + .drop-menu {
    display: none;
}
.btn-dropdown.active + .drop-menu {
    display: block;
}
.drop-menu {
    position: absolute;
    width: 100%;
    left: 0;
    border-radius: $border-radius;
    z-index: $z-index-dropdown;
    top: ($btn-pad-y * 2 ) + ($btn-font-size * 2);
    min-width: $dropdown-width;
    width: auto;
    .drop {
        border-radius: $border-radius;
        background-color: $dropdown-bg;
        box-shadow: $box-shadow-out;
        padding: 8px 0px;
    }
}

// Dropdown list
.drop ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 0;
        display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin: 0;
        font-size: $dropdown-font-size;
        border-top: 1px solid $dropdown-border-color;
        a {
            position: relative;
            background-color: transparent;
            width: 100%;
            @include _ellipsis();
            display: block;
            color: $dropdown-color;
            padding: 12px;
            &:hover,
            &.selected {
                text-decoration: none;
                background-color: $dropdown-hover-bg;
            }
        }
        // Show tick
        a.selected:after {
            position: absolute;
            color: $dropdown-tick-color;
            right: 12px;
            font-family: 'IcoMoon';
            content:"\ed71";
        }

    }
    .drop-header {
        font-weight: $text-bolder;
        padding: 0px 12px 8px 12px;
        border-bottom: 1px solid $dropdown-divider-color;
    }
    .divider {
        padding-top: 3px;
        margin-bottom: 3px;
        border-bottom: 1px solid $dropdown-divider-color;
    }
    .divider,
    .drop-header + li,
    .divider + li,
    li:first-child {
        border-top-color: transparent;
    }
}

// POSITIONING
// South
.drop-s {
    left: 50%;
    right: 50%;
    margin-left: -80px;
}
.drop-se {
    right: 0;
    left: initial;
}
.drop-sw {
    left: 0;
    right: initial;
}

// North
.drop-n {
    top: auto;
    bottom: 100%;
    left: 50%;
    right: 50%;
    margin-left: -80px;
    margin-bottom: 8px;
}
.drop-ne {
    top: auto;
    bottom: 100%;
    right: 0;
    left: initial;
    margin-bottom: 8px;
}
.drop-nw {
    top: auto;
    bottom: 100%;
    left: 0;
    right: initial;
    margin-bottom: 8px;
}

// Drops with arrows need to drop down/up more
.drop-menu.arrow {
    &.drop-s,
    &.drop-se,
    &.drop-sw {
        top: ($btn-pad-y * 4 );
    }
}
.drop-menu.arrow {
    &.drop-n,
    &.drop-ne,
    &.drop-nw {
        margin-bottom: 20px;
    }
}

.drop-menu.raised.arrow-s:before,
.drop-menu.raised.arrow-se:before,
.drop-menu.raised.arrow-sw:before {
    border-top-color: #7b7b7b;
}