.frontdrop-overlay
{
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: var(--hb-zindex-frontdrop);
	transition: opacity .3s var(--hb-ease);
}
.frontdrop-overlay.dark
{
	background-color: rgba(#000, 0.8);
}
.frontdrop-overlay.light
{
	background-color: rgba(35, 47, 52, .32);
}
.frontdrop-wrap
{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	z-index: var(--hb-zindex-frontdrop);
}
.frontdrop-dialog
{
	margin-top: 50px;
	padding-top: 20px;
	overflow: hidden;
	.btn-confirm
	{
		position: fixed;
		bottom: 30px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}
.frontdrop-header
{
	position: sticky;
	top: 0;
	height: 80px;
	width: 100%;
	background: #fff;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding: 40px 0 17px 0;
	box-shadow: rgb(0 0 0 / 20%) 0px -5px 5px -3px, rgb(0 0 0 / 14%) 0px -8px 10px -1px, rgb(0 0 0 / 12%) 0px -6px 14px -6px;
	.btn-close
	{
		position: absolute;
    	top: 15px;
    	left: 15px;
	}
	.frontdrop-title
	{
		text-align: center;
		margin: 0;
		padding: 0;
		font-size: 1.8rem;
		line-height: 1.8rem;
		white-space: nowrap;
		font-weight: $text-bold;
	}
	&:before
	{
		content: "";
		width: 40px;
		height: 3px;
		background-color: var(--hb-gray-300);
		border-radius: 5px;
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	&:after
	{
		content: "";
		width: calc(100vw - 40px);
		height: 1px;
		background-color: var(--hb-gray-300);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}
.frontdrop-body
{
	height: calc(100vh - 150px);
	overflow-y: auto;
	background-color: #fff;
}
.frontdrop-dialog
{
	width: 100%;
	opacity: 0;
	transform: translateY(50%);
	transition: opacity .3s var(--hb-ease), transform .15s var(--hb-ease);
	margin-left: auto;
    margin-right: auto;	
}

// Active
.frontdrop-overlay.active
{
	visibility: visible;
	opacity: 1;
}
.frontdrop-overlay.active + .frontdrop-wrap
{
	visibility: visible;
}
.frontdrop-overlay.active + .frontdrop-wrap .frontdrop-dialog
{
	opacity: 1;
	transform: translateY(0);
}

// Transition-off
.frontdrop-overlay.transition-off
{
	visibility: visible;
	opacity: 0;
}
.frontdrop-overlay.transition-off + .frontdrop-wrap
{
	visibility: visible;
}
.frontdrop-overlay.transition-off + .frontdrop-wrap .frontdrop-dialog
{
	opacity: 0;
	transform: translateY(50%);
}
