// Hamburger
.hamburger {
    margin: 0;
    background-color: $brand-primary;
    color: $white;
    overflow: hidden;
    border-radius: $border-radius;
    background-color: transparent;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 35px;
    width: 40px;
    text-indent: -60px;
    line-height: 23px;
    @include button-unstyled();
}
.hamburger .hamburger-bun,
.hamburger .hamburger-patty {
    display: block;
    background-color: $brand-primary;
    width: 20px;
    height: 1px;
    margin: 0 auto 6px;
    transition: $base-easing-time $base-easing;
}
.hamburger.active .hamburger-bun,
.hamburger.active .hamburger-patty {
    background-color: $brand-primary;
    position: relative;
}
.hamburger.active .hamburger-bun--top {
    top: 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}
.hamburger.active .hamburger-patty {
    top: -1px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0
}
.hamburger.active .hamburger-bun--btm {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}