.img-hover-zoom
{
    background-size: 200%;
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.img-hover-zoom img:hover
{
    opacity: 0;
}
.img-hover-zoom img
{
    transition: opacity $base-easing-time $base-easing;
    display: block;
    width: 100%;
    height: auto;
    background-color: #fff;
    cursor: pointer;
}