// Labels
.label {
    text-align: center;
    border-radius: $border-radius;
	display: inline;
    background-color: $label-default-bg;
    color: $label-default-color;
    font-size: $label-font-size;
    padding: $label-pad-y $label-pad-x;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    &.label-primary {
        color: $white;
        background-color: $brand-primary;
    }
    &.label-success {
        color: $white;
        background-color: $brand-success;
    }
    &.label-info {
        color: $white;
        background-color: $brand-info;
    }
    &.label-warning {
        color: $white;
        background-color: $brand-warning;
    }
    &.label-danger {
        color: $white;
        background-color: $brand-danger;
    }

}
