.list
{
    --hb-list-bg: #{$list-bg};
    --hb-list-color: #{$list-color};
    --hb-list-font-size: #{$list-font-size};
    --hb-list-item-color-hover: #{$list-item-color-hover};
    --hb-list-item-color-active: #{$list-item-color-active};
    --hb-list-item-color-selected: #{$list-item-color-selected};
    --hb-list-item-bg: #{$list-item-bg};
    --hb-list-item-bg-hover: #{$list-item-bg-hover};
    --hb-list-item-bg-active: #{$list-item-bg-active};
    --hb-list-item-bg-selected: #{$list-item-bg-selected};
    --hb-list-item-pad-y: #{$list-item-pad-y};
    --hb-list-item-pad-x: #{$list-item-pad-x};
    --hb-list-divider-color: #{$list-divider-color};
    --hb-list-divider-space: #{$list-divider-space};


    list-style: none;
    margin: 0;
    background-color: var(--hb-list-bg);
    color: var(--hb-list-color);
    padding: var(--hb-list-item-pad-y) 0px;
    font-size: var(--hb-list-font-size);

    > *
    {
        margin: 0;
        padding: var(--hb-list-item-pad-y) var(--hb-list-item-pad-x);
        background-color: var(--hb-list-item-bg);
        column-gap: var(--hb-list-item-pad-x);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .item-left,
        .item-right
        {
            flex: 0 0 auto;
            display: flex;
            position: relative;
        }
        .item-body
        {
            flex: 1 1 auto;
        }
        a,a:hover
        {
            text-decoration: none;
            color: inherit;
        }

        &:hover,
        &.hover
        {
            background-color: var(--hb-list-item-bg-hover);
            color: var(--hb-list-item-color-hover);
        }
        &.active
        {
            background-color: var(--hb-list-item-bg-active);
            color: var(--hb-list-item-color-active);
        }
        &.selected
        {
            background-color: var(--hb-list-item-bg-selected);
            color: var(--hb-list-item-color-selected);
            .item-title
            {
            	color: var(--hb-list-item-color-selected);
            }
        }
        &.disabled,&.disabled:hover
        {
            background-color: var(--hb-list-item-bg);
            color: var(--hb-list-color);
            opacity: 0.5;
            cursor: not-allowed;
        }

        .item-title
        {
        	color: var(--hb-body-color);
        	font-weight: $text-bold;
        }
    }

    // Overflow
    &.list-ellipsis
    {
        > *
        {
            @include _ellipsis;
            
            .item-body
            {
                min-width: 0;
                @include _ellipsis;

                > *
                {
                	@include _ellipsis;
                }
            }
        }
    }
    
    // Header and divider
    .list-header
    {
        font-weight: $text-bold;
        padding: 0px var(--hb-list-item-pad-x) var(--hb-list-item-pad-y) var(--hb-list-item-pad-x);
        border-bottom: 1px solid var(--hb-list-divider-color);
    }
    .list-divider
    {
        padding: var(--hb-list-divider-space) 0 0 0;
        margin: 0 0 var(--hb-list-divider-space) 0;
        border-bottom: 1px solid var(--hb-list-divider-color);
    }
    .list-header:hover,
    .list-divider:hover
    {
        background-color: var(--hb-list-item-bg);
        color: var(--hb-list-color);
    }

    // Dense
    &.list-dense
    {
        --hb-list-font-size: #{_minusPercent($list-font-size, 3)};
        --hb-list-item-pad-y: #{_minusPercent($list-item-pad-y, 40)};
        --hb-list-item-pad-x: #{_minusPercent($list-item-pad-x, 10)};
        --hb-list-divider-space: #{_minusPercent($list-divider-space, 30)};
    }

}