.menu
{
    --hb-menu-bg: #{$menu-bg};
    --hb-menu-color: #{$menu-color};
    --hb-menu-font-size: #{$menu-font-size};
    --hb-menu-item-color-hover: #{$menu-item-color-hover};
    --hb-menu-item-color-active: #{$menu-item-color-active};
    --hb-menu-item-color-selected: #{$menu-item-color-selected};
    --hb-menu-item-bg: #{$menu-item-bg};
    --hb-menu-item-bg-hover: #{$menu-item-bg-hover};
    --hb-menu-item-bg-active: #{$menu-item-bg-active};
    --hb-menu-item-bg-selected: #{$menu-item-bg-selected};
    --hb-menu-item-pad-y: #{$menu-item-pad-y};
    --hb-menu-item-pad-x: #{$menu-item-pad-x};
    --hb-menu-divider-color: #{$menu-divider-color};
    --hb-menu-divider-space: #{$menu-divider-space};


    list-style: none;
    margin: 0;
    background-color: var(--hb-menu-bg);
    color: var(--hb-menu-color);
    padding: var(--hb-menu-item-pad-y) 0px;
    font-size: var(--hb-menu-font-size);

    > *
    {
        margin: 0;
        padding: var(--hb-menu-item-pad-y) var(--hb-menu-item-pad-x);
        background-color: var(--hb-menu-item-bg);
        column-gap: var(--hb-menu-item-pad-x);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .item-left,
        .item-right
        {
            flex: 0 0 auto;
            display: flex;
        }
        .item-body
        {
            flex: 1 1 auto;
        }
        a,a:hover
        {
            text-decoration: none;
            color: inherit;
        }

        &:hover,
        &.hover
        {
            background-color: var(--hb-menu-item-bg-hover);
            color: var(--hb-menu-item-color-hover);
        }
        &.active
        {
            background-color: var(--hb-menu-item-bg-active);
            color: var(--hb-menu-item-color-active);
        }
        &.selected
        {
            background-color: var(--hb-menu-item-bg-selected);
            color: var(--hb-menu-item-color-selected);
        }
        &.disabled,&.disabled:hover
        {
            background-color: var(--hb-menu-item-bg);
            color: var(--hb-menu-color);
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    // Overflow
    &.menu-ellipsis
    {
        > *
        {
            @include _ellipsis;
            
            .item-body
            {
                min-width: 0;
                @include _ellipsis;
            }
        }
    }
    
    // Header and divider
    .menu-header
    {
        font-weight: $text-bold;
        padding: 0px var(--hb-menu-item-pad-x) var(--hb-menu-item-pad-y) var(--hb-menu-item-pad-x);
        border-bottom: 1px solid var(--hb-menu-divider-color);
    }
    .menu-divider
    {
        padding: var(--hb-menu-divider-space) 0 0 0;
        margin: 0 0 var(--hb-menu-divider-space) 0;
        border-bottom: 1px solid var(--hb-menu-divider-color);
    }
    .menu-header:hover,
    .menu-divider:hover
    {
        background-color: var(--hb-menu-item-bg);
        color: var(--hb-menu-color);
    }

    // Dense
    &.menu-dense
    {
        --hb-menu-font-size: #{_minusPercent($menu-font-size, 5)};
        --hb-menu-item-pad-y: #{_minusPercent($menu-item-pad-y, 60)};
        --hb-menu-item-pad-x: #{_minusPercent($menu-item-pad-x, 20)};
        --hb-menu-divider-space: #{_minusPercent($menu-divider-space, 40)};
    }

}