// Message color variants
.msg
{
    --hb-msg-bg: #{$msg-bg};
    --hb-msg-color: #{$msg-color};
    --hb-msg-icon-color: #{$msg-icon-color};
    --hb-msg-spacer-y: #{$msg-spacer-y};
    --hb-msg-spacer-x: #{$msg-spacer-x};
    --hb-msg-border-radius: #{$msg-border-radius};
    --hb-msg-font-size: #{$msg-font-size};
    position: relative;
    overflow: hidden;
    border-radius: var(--hb-msg-border-radius);
    background-color: var(--hb-msg-bg);
    border: none;
    color: var(--hb-msg-color);
    
    .msg-icon .glyph-icon
    {
       color: var(--hb-msg-icon-color);
       position: relative;

        &:after
        {
            background-color: var(--hb-msg-icon-color);
            opacity: 0.2;
        }
    }
    
    // Layout
    .msg-icon,
    .msg-body,
    .msg-btn
    {
        display: table-cell;
        vertical-align: middle;
    }

    // Message Icon
    .msg-icon
    {
        text-align: center;
        padding: 0 var(--hb-msg-spacer-x);
        .glyph-icon
        {
            display: inline-block;
            font-size: 16px;
            width: 40px;
            height: 40px;
            line-height: 41px;

            &:after
            {
                content: "";
                position: absolute;
                left: 0;
                top: 0px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                
            }
        }
    }

    // Message Body
    .msg-body
    {
        width: 10000px;
        padding: var(--hb-msg-spacer-y) var(--hb-msg-spacer-x);

        p
        {
            font-size: var(--hb-msg-font-size);
            margin: 0;
            a
            {
                color: rgba(0,0,0,0.3);
                &:hover
                {
                    color: rgba(0,0,0,0.5);
                }
            }
        }
    }
    .msg-btn
    {
        padding: 0 var(--hb-msg-spacer-x);
        white-space: nowrap;
    }
    .msg-icon + .msg-body
    {
        padding: var(--hb-msg-spacer-y) var(--hb-msg-spacer-x) var(--hb-msg-spacer-y) 0px;
    }
    .msg-body + .msg-btn
    {
        padding-left: 0;
    }

    // Variants
    @each $context, $colors in $contexts
    {    
        &.msg-#{$context}
        {
            --hb-msg-icon-color: #{map-get($colors, "color")};
        }
    }
}