.modal-wrap
{
	--hb-modal-title-size: #{$modal-title-size};
	--hb-modal-transition: #{$modal-transition};
	--hb-modal-max-width: #{$modal-max-width};
	--hb-modal-max-height: #{$modal-max-height};
	--hb-modal-transform-on: #{$modal-transform-on};
	--hb-modal-transform-off: #{$modal-transform-off};

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: var(--hb-zindex-modal);
	display: flex;
	align-items: center;
	justify-content: center;

	.modal-dialog
	{
		opacity: 1;
		height: auto;
		transform: translate3d(0px, 0px, 0px);
		transition: var(--hb-modal-transition);
		max-height: var(--hb-modal-max-height);

	    .card
		{
			max-width: var(--hb-modal-max-width);
			@include raised($modal-shadow);
		}
	}
	.container-fluid
	{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card-header
	{
		h4
		{
			font-size: var(--hb-modal-title-size);
		}
	}

	&.scroll-modal
	{
		.modal-dialog
		{
			overflow-y: auto;
		}
	}
	&.scroll-content
	{
		.modal-dialog
		{
			overflow: hidden;
			height: 100%;
		}
		.card
		{
			max-height: 100%;
    		overflow: hidden;
		}
	}
}

.modal-overlay
{
	--hb-modal-overlay-bg: #{$modal-overlay-bg};
	--hb-modal-overlay-bg-dark: #{$modal-overlay-bg-dark};
	--hb-modal-overlay-transition: #{$modal-overlay-transition};
	z-index: var(--hb-zindex-modal);
	transition: var(--hb-modal-overlay-transition);
	transform: var(--hb-modal-transform-on);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: visible;
	opacity: 1;
	

	&.overlay-dark
	{
		background-color: var(--hb-modal-overlay-bg-dark);
	}
	&.overlay-light
	{
		background-color: var(--hb-modal-overlay-bg);
	}
	&.disabled
	{
		display: none !important;
	}
}

.modal-overlay.closed, .modal-overlay.closing,
.modal-wrap.closed .modal-dialog, .modal-wrap.closing .modal-dialog
{
	opacity: 0;
	transition: var(--hb-modal-overlay-transition);
	transition-delay: 0s;

}
.modal-wrap.closed .modal-dialog, .modal-wrap.closing .modal-dialog
{
	transform: var(--hb-modal-transform-off);
	transition: var(--hb-modal-transition);
	transition-delay: 0s;
}

.modal-overlay.closed, 
.modal-wrap.closed
{
	visibility: hidden;
}

