.modal-overlay {
	@extend %fixed;
	@extend %full-width;
	@extend %full-height;
	@extend %opacity-hide;
	@extend %visibility-hide;
	@extend %top-0;
	@extend %left-0;
	z-index: $z-index-modal;
	transition: opacity .3s ease;
}
.modal-overlay.dark {
	@extend %bg-black;
}
.modal-overlay.light {
	@extend %bg-white;
}
.modal-wrap {
	@extend %fixed;
	@extend %top-0;
	@extend %left-0;
	@extend %full-width;
	@extend %full-height;
	@extend %visibility-hide;
	@extend %hide-overflow;
	z-index: $z-index-modal;
	.panel-body {
		background: #fff;
	}
	overflow-y: auto;
}
.modal-dialog {
	@extend %absolute;
	@extend %full-width;
	@extend %left-0;
	@extend %right-0;
	@extend %top-50;
	@extend %opacity-hide;
	padding: 20px;
	transform: translateY(-50px);
	transition: opacity .3s ease, transform .3s ease;
	margin-left: auto;
    margin-right: auto;
}
.modal-closer {
	@extend %absolute;
	@extend %color-black;
	cursor: pointer;
	top: 3px;
    right: 15px;
    font-size: 20px;
    z-index: $z-index-modal;
    border-radius: 26px;
    padding: 5px 6px;
    background: $gray-lightest;
}
.modal-closer:hover {
	@extend %opacity-show;
	text-decoration: none;
}
.modal-wrap .panel {
	border:none;
}

.modal-overlay.dark + .modal-wrap {
	.modal-closer {
		background: rgba(#3f3f3f, 0.9);
		color: #fff;
	}
}

// Active
.modal-overlay.active {
	@extend %visibility-show;
	opacity: 0.9;
}
.modal-overlay.active + .modal-wrap {
	@extend %visibility-show;
}
.modal-overlay.active + .modal-wrap .modal-dialog {
	@extend %opacity-show;
	transform: translateY(0);
}

// Transition-off
.modal-overlay.transition-off {
	visibility: visible;
	opacity: 0;
}
.modal-overlay.transition-off + .modal-wrap {
	visibility: visible;
}
.modal-overlay.transition-off + .modal-wrap .modal-dialog {
	opacity: 0;
	transform: translateY(-50px);
}

.modal-icon {
	font-size: 41px;
	border-width: 1px;
	border-style: solid;
    border-radius: 50%;
    padding: 14px;
}

.modal-dialog {
	margin-left: auto;
    margin-right: auto;
    padding-left:  map-get($container-gutters, xs);
    padding-right: map-get($container-gutters, xs);
    width: 100%;
    max-width: 600px;
}
