.notification-wrap
{
	position: fixed;
	right: 0;
	left: 0;
	margin: 0 auto;
	display: none;
	z-index: $z-index-notification;
	bottom: 5px;
    padding-left:  map-get($container-gutters, xs);
    padding-right: map-get($container-gutters, xs);
    width: 100%;
    max-width: $breakpoint-xl;
	
	&.active
	{
		display: block;
	}
	.msg
	{
		--hb-msg-bg: #{$notif-bg};
	    --hb-msg-color: #{$notif-color};
	    --hb-msg-font-size: #{$notif-font-size};
	    --hb-msg-icon-color: #{$notif-icon-color};
	    --hb-msg-spacer-y: #{$notif-spacer-y};
	    --hb-msg-spacer-x: #{$notif-spacer-x};
	    --hb-msg-border-radius: #{$notif-border-radius};
		cursor: pointer;
		margin-bottom: 15px;
		@include raised($notif-shadow);
	}
}

@include media-breakpoint-up(md)
{
	.notification-wrap
	{
		width: 450px;
	}
}
@keyframes fadeInUp
{
	from
  	{
    	opacity: 0;
    	transform: translate3d(0, 100%, 0);
  	}

  	to
  	{
    	opacity: 1;
    	transform: translate3d(0, 0, 0);
  	}
}
.animate-notif
{
	animation-duration: .3s;
 	animation-fill-mode: both;
  	animation-name: fadeInUp;
}

