.paper
{
	--hb-paper-bg: #{$paper-bg};
	--hb-paper-radius: #{$paper-radius};
	--hb-paper-border-color: #{$paper-flat-border};
	
	background-color: var(--hb-paper-bg);

	&.paper-rounded
	{
		border-radius: var(--hb-paper-radius);
	}
	&.flat
    {
    	box-shadow: none;
    	border: 1px solid var(--hb-paper-border-color);
    }
}