.popover
{
    --hb-popover-max-width: #{$popover-max-width};
    --hb-popover-shadow: #{$popover-shadow};
    --hb-popover-font-size: #{$popover-font-size};
    --hb-popover-title-size: #{$popover-title-size};
    --hb-popover-radius: #{$popover-radius};
    --hb-popover-pad-y: #{$popover-pad-y};
    --hb-popover-pad-x: #{$popover-pad-x};

    --hb-popover-bg-light: #{$popover-bg-light};
    --hb-popover-color-light: #{$popover-color-light};
    --hb-popover-title-color-light: #{$popover-title-color-light};
    --hb-popover-title-border-light: #{$popover-title-border-light};

    --hb-popover-bg-dark: #{$popover-bg-dark};
    --hb-popover-color-dark: #{$popover-color-dark};
    --hb-popover-title-color-dark: #{$popover-title-color-dark};
    --hb-popover-title-border-dark: #{$popover-title-border-dark};

    --hb-popover-bg: none;
    --hb-popover-color: none;
    --hb-popover-title-color: none;
    --hb-popover-title-border: none;
    position: absolute;
    z-index: $z-index-popover;
    font-size: var(--hb-popover-font-size);
    border-radius: var(--hb-popover-radius);
    max-width: var(--hb-popover-max-width);
    box-shadow: var(--hb-popover-shadow);
    @include raise(--hb-popover-shadow, $popover-shadow, $black);
    background-color: var(--hb-popover-bg);
    color: var(--hb-popover-color);

    .popover-title
    {
        font-size: var(--hb-popover-title-size);
        color: var(--hb-popover-title-color);
        border-bottom: var(--hb-popover-title-border);
        border-top-left-radius: var(--hb-popover-radius);
        border-top-right-radius: var(--hb-popover-radius);
        margin-bottom: 0;
        padding: var(--hb-popover-pad-y) var(--hb-popover-pad-x);
    }
    .popover-content
    {
        padding: var(--hb-popover-pad-y) var(--hb-popover-pad-x);
    }
    
    // Themes
    &.dark
    {
        --hb-popover-bg: var(--hb-popover-bg-dark);
        --hb-popover-color: var(--hb-popover-color-dark);
        --hb-popover-title-color: var(--hb-popover-title-color-dark);
        --hb-popover-title-border: var(--hb-popover-title-border-dark);
    }
    &.light
    {
        --hb-popover-bg: var(--hb-popover-bg-light);
        --hb-popover-color: var(--hb-popover-color-light);
        --hb-popover-title-color: var(--hb-popover-title-color-light);
        --hb-popover-title-border: var(--hb-popover-title-border-light);
    }
    p
    {
        padding: 0;
        font-size: var(--hb-popover-font-size);
        &:last-child
        {
            margin-bottom: 0;
        }
    }
    .close-btn
    {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
    }
}

// Animations
@keyframes popoverfade
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}
@keyframes popoverpop
{
    from
    {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50%
    {
        opacity: 1;
    }
}

.popover-fade
{
    animation-name: popoverfade;
    animation-duration: .3s;
    animation-fill-mode: both;
}

.popover-pop
{
    animation-name: popoverpop;
    animation-duration: .1s;
    animation-fill-mode: both;
}
