.popover {
    @extend %absolute;
    @extend %border-radius;
    background-color: $popover-bg;
    max-width: $popover-max-width;
    box-shadow: $box-shadow-out;
    z-index: $z-index-popover;
}
.popover-title {
    @extend %bg-gray;
    @extend %font-bold;
    font-size: 1.4rem;
    background-color: $popover-title-bg;
    padding: $popover-content-padding;
    margin-bottom: 0;
    border: 1px solid darken($popover-title-bg, 10);
}
.popover-content {
    padding: 20px;
    border: 1px solid darken($popover-title-bg, 10);
    border-top: none;
}
.popover-title .glyph-icon {
    @extend %absolute;
    cursor: pointer;
    top: 12px;
    right: 10px;
    opacity: 0.3;
}
.popover-title .glyph-icon:hover {
    @extend %opacity-show;
}


// Default popover
.popover.arrow-wn:before,
.popover.arrow-w:before,
.popover.arrow-ws:before {
    border-right-color: rgba(204, 213, 219, .8);
}
.popover.arrow-wn:after,
.popover.arrow-w:after,
.popover.arrow-ws:after {
    border-right-color: #fff;
}
.popover.arrow-nw:before,
.popover.arrow-n:before,
.popover.arrow-ne:before {
    border-bottom-color: rgba(204, 213, 219, .8);
}
.popover.arrow-nw:after,
.popover.arrow-n:after,
.popover.arrow-ne:after {
    border-bottom-color: #f3f7f9;
}
.popover.arrow-en:before,
.popover.arrow-e:before,
.popover.arrow-es:before {
    border-left-color: rgba(204, 213, 219, .8);
}
.popover.arrow-en:after,
.popover.arrow-e:after,
.popover.arrow-es:after {
    border-left-color: #fff;
}
.popover.arrow-sw:before,
.popover.arrow-s:before,
.popover.arrow-se:before {
    border-top-color: rgba(204, 213, 219, .8);
}
.popover.arrow-sw:after,
.popover.arrow-s:after,
.popover.arrow-se:after {
    border-top-color: #fff;
}

// Primary
.popover-primary .popover-title {
    @extend %color-white;
    @extend %bg-primary;
}
.popover-primary.arrow-nw:after,
.popover-primary.arrow-n:after,
.popover-primary.arrow-ne:after {
    border-bottom-color: $brand-primary;
}


// Success
.popover-success .popover-title {
    @extend %color-white;
    @extend %bg-success;
}
.popover-success.arrow-nw:after,
.popover-success.arrow-n:after,
.popover-success.arrow-ne:after {
    border-bottom-color: $brand-success;
}

// Info
.popover-info .popover-title {
    @extend %color-white;
    @extend %bg-info;
}
.popover-info.arrow-nw:after,
.popover-info.arrow-n:after,
.popover-info.arrow-ne:after {
    border-bottom-color: $brand-info;
}

// Warning
.popover-warning .popover-title {
    @extend %color-white;
    @extend %bg-warning;
}
.popover-warning.arrow-nw:after,
.popover-warning.arrow-n:after,
.popover-warning.arrow-ne:after {
    border-bottom-color: $brand-warning;
}

// Danger
.popover-danger .popover-title {
    @extend %color-white;
    @extend %bg-danger;
}
.popover-danger.arrow-nw:after,
.popover-danger.arrow-n:after,
.popover-danger.arrow-ne:after {
    border-bottom-color: $brand-danger;
}


// Animations

@-webkit-keyframes popoverfade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes popoverfade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes popoverpop {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes popoverpop {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.popover-fade {
    -webkit-animation-name: popoverfade;
    animation-name: popoverfade;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.popover-pop {
    -webkit-animation-name: popoverpop;
    animation-name: popoverpop;
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

