.scrollbar-area
{
	--hb-scrollbar-size: #{$scrollbar-size};
	--hb-scrollbar-transition: #{$scrollbar-transition};
	--hb-scrollbar-track-color: #{$scrollbar-track-color};
	--hb-scrollbar-track-hover: #{$scrollbar-track-hover};
	--hb-scrollbar-track-active: #{$scrollbar-track-active};

	--hb-scrollbar-handle-color: #{$scrollbar-handle-color};
	--hb-scrollbar-handle-hover: #{$scrollbar-handle-hover};
	--hb-scrollbar-handle-active: #{$scrollbar-handle-active};

	overflow:hidden;
	position:relative;
	height:100%;

	// Content wrapper
	.scrollbar-wrapper
	{
		overflow:hidden;
		height:100%;
		-webkit-overflow-scrolling:touch;
	}

	// Tracks
	.scrollbar-track,
	.scrollbar-trackH
	{
		z-index: 3;	
		display:none;
		position:absolute;
		user-select:none;
		background-color: var(--hb-scrollbar-track-color);
		transition: var(--hb-scrollbar-transition);
	}
	.scrollbar-track
	{
		top:2px;
		bottom:2px;
		right:2px;
		width:var(--hb-scrollbar-size);
	}
	.scrollbar-trackH
	{
		left:0;
		bottom:0px;
		width:100%;
		height:var(--hb-scrollbar-size);
	}

	// Handles
	.scrollbar-handle,
	.scrollbar-handleH
	{
		position: absolute;
		box-sizing: border-box;
		cursor:default;
		transition: var(--hb-scrollbar-transition);
		background-color: var(--hb-scrollbar-handle-color);
		border-radius: var(--hb-scrollbar-size);
	}
	.scrollbar-handle
	{
		right: 0;
		width:var(--hb-scrollbar-size);
		min-height:10px;		
		transform:translateZ(0);
	}
	.scrollbar-handleH
	{
		bottom:0;
		height:var(--hb-scrollbar-size);
		min-width:10px;
	}

	// Hover Container
	&.scrollbar-hover
	{
		
	}

	// Hover track
	.scrollbar-track.scrollbar-hover,
	.scrollbar-trackH.scrollbar-hover
	{
		background-color: var(--hb-scrollbar-track-hover);
	}

	// Hover handle
	.scrollbar-handle:hover,
	.scrollbar-handleH:hover
	{
		background-color: var(--hb-scrollbar-handle-hover);
	}

	// Dragging
	&.scrollbar-dragging
	{
		user-select:none;

		.scrollbar-track,
		.scrollbar-trackH
		{
			background-color: var(--hb-scrollbar-track-active);
		}
		.scrollbar-handle,
		.scrollbar-handleH
		{
			background-color: var(--hb-scrollbar-handle-active);
		}
	}
}

// Light theme (on dark bg)
.scroll-light .scrollbar-area
{
	--hb-scrollbar-track-color: rgba(255,255,255, #{alpha($scrollbar-track-color)});
	--hb-scrollbar-track-hover: rgba(255,255,255, #{alpha($scrollbar-track-hover)});
	--hb-scrollbar-track-active: rgba(255,255,255, #{alpha($scrollbar-track-active)});

	--hb-scrollbar-handle-color: rgba(255,255,255, #{alpha($scrollbar-handle-color)});
	--hb-scrollbar-handle-hover: rgba(255,255,255, #{alpha($scrollbar-handle-hover)});
	--hb-scrollbar-handle-active: rgba(255,255,255, #{alpha($scrollbar-handle-active)});
}