// Spinner keyframes
@keyframes loadingrotate
{
    100%
    {
        transform: rotate(360deg);
    }
}
@keyframes loadingdash
{
    0%
    {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }

    50%
    {
        stroke-dasharray: 150,200;
        stroke-dashoffset: -50;
    }

    100%
    {
        stroke-dasharray: 150,200;
        stroke-dashoffset: -185;
    }
}

// Spinner defaults
.loading-spinner
{
    --hb-spinner-color: #{$spinner-color};
    --hb-spinner-size: #{$spinner-size};

    animation: loadingrotate 2s linear infinite;
    height: var(--hb-spinner-size);
    width: var(--hb-spinner-size);
    .path
    {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
        -webkit-animation: loadingdash 1.5s ease-in-out infinite;
        animation: loadingdash 1.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke: var(--hb-spinner-color);
    }

    @each $context, $colors in $contexts
    {
        &.spinner-#{$context}
        {
            --hb-spinner-color: #{map-get($colors, "color")};
        }
    }
    &.spinner-white
    {
        --hb-spinner-color: var(--hb-white);
    }
}