.status
{
	--hb-status-color: #{$status-color};
	--hb-status-size: #{$status-size};
	width: var(--hb-status-size);
	height: var(--hb-status-size);
	display: inline-block;
	border-radius: 50%;
	background-color: var(--hb-status-color);

    @each $context, $colors in $contexts
    {
        &.status-#{$context}
        {
            --hb-status-color: #{map-get($colors, "color")};
        }
    }
}