.status {
	width: $status-size;
	height: $status-size;
	display: inline-block;
	border-radius: 50%;
	background-color: $gray;
	&.status-primary {
		background-color: $brand-primary;
	}
	&.status-info {
		background-color: $brand-info;
	}
	&.status-success {
		background-color: $brand-success;
	}
	&.status-warning {
		background-color: $brand-warning;
	}
	&.status-danger {
		background-color: $brand-danger;
	}
}
.status-xs {
	width:  _minusPercent($status-size, 30);
	height: _minusPercent($status-size, 30);
}
.status-md {
	width:  _addPercent($status-size, 30);
	height: _addPercent($status-size, 30);
}
.status-lg {
	width:  _addPercent($status-size, 50);
	height: _addPercent($status-size, 50);
}
.status-xl {
	width:  _addPercent($status-size, 100);
	height: _addPercent($status-size, 100);
}