.no-padding { padding: 0}
.pad-5 		{ padding: .5rem; }
.pad-10 	{ padding: 1rem; }
.pad-15 	{ padding: 1.5rem; }
.pad-20 	{ padding: 2rem; }
.pad-25 	{ padding: 2.5rem; }
.pad-30 	{ padding: 3rem; }
.pad-35 	{ padding: 3.5rem; }
.pad-40 	{ padding: 4rem; }