@use "sass:math";
@mixin _make-cols($curr-grid, $prev-grid: null)
{
    // colums
    @for $i from 1 through 12
    {
        @if $curr-grid == null
        {
            .col-#{$i}
            {
                --hb-col-width: #{unquote('#{math.div(100, 12) * $i}%')};
            }
        }
        @else
        {
            .col-#{$curr-grid}-#{$i}
            {
                --hb-col-width: #{unquote('#{math.div(100, 12) * $i}%')};
            }
        }
    }

    // Pushers / pullers
    @for $i from 1 through 12
    {
        @if $curr-grid == null
        {
            .col-push-#{$i}
            {
                --hb-col-push: #{unquote('#{math.div(100, 12) * $i}%')};
            }
            .col-pull-#{$i}
            {
                --hb-col-pull: #{unquote('#{math.div(100, 12) * $i}%')};
            }

        }
        @else
        {
            .col-#{$curr-grid}-push-#{$i}
            {
                --hb-col-push: #{unquote('#{math.div(100, 12) * $i}%')};
            }
            .col-#{$curr-grid}-pull-#{$i}
            {
                --hb-col-pull: #{unquote('#{math.div(100, 12) * $i}%')};
            }
        }
    }
}