@mixin _make-poles($curr-grid, $prev-grid: null)
{
    @each $name, $size in $grid-poles
    {
        $polename : if($curr-grid == null, pole-#{$name}, pole-#{$curr-grid}-#{$name});

        .#{$polename}
        {
            --hb-pole-s: var(--hb-grid-pole-#{$name});
            --hb-pole-n: var(--hb-grid-pole-#{$name});
        }
    }

    $Nname : if($curr-grid == null, pole-n,  pole-#{$curr-grid}-n);
    $Sname : if($curr-grid == null, pole-s,  pole-#{$curr-grid}-s);
    $Ename : if($curr-grid == null, no-pole, no-pole-#{$curr-grid});

    .#{$Nname}
    {
        --hb-pole-s: 0px;
    }
    .#{$Sname}
    {
        --hb-pole-n: 0px;
    }
    .#{$Ename}
    {
        --hb-pole-s: 0px;
        --hb-pole-n: 0px;
    }
}